@@include('./global/header.html')
<section id="innerbathandbody" class="listing-intro-section">
  <div class="woodplatform">
  </div>
  <div class="container">
    <div class="product-group-photo">
      <img class="b-lazy img-responsive img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/bath-banner.png" alt="Bath &amp; Body">

      <noscript><img class="img-responsive" src="img/bath-banner.png" alt="Bath &amp; Body" /></noscript>
    </div>
    <div class="bubble-information">
        <h1 class="title">Bath &amp; Body</h1>
        <div class="subtitle">
            100% Certified Natural Ingredients <br> 0% Harmful Ingredients
        </div>
        <div class="description">
            Bath time is one of the most precious moments between you and your baby, and we want to be part of it through our Bath & Body products. We guarantee only the most gentle touch on your baby's skin.
        </div>
    </div>
  </div>
</section>
<section id="productlisting"  class="products-listing">
  <div class="container">
    <ul class="products-list list-unstyled">
      <li class="product clearfix ">
        <a href="#" class="product-photo-container">
          <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/hair-body.jpg" data-src-mobile="img/hair-body-alt.jpg"  data-src-tablet="img/hair-body-alt.jpg" data-src-tablet-large="img/hair-body.jpg"  alt="Product Title Here">

          <!-- Fallback -->
          <noscript><img class="img-responsive" src="img/hair-body.jpg" alt="Product Title Here" /></noscript>
        </a>
        <div class="product-details-container">
          <div class="product-title">
            <h2><a href="#">Hair &amp; Body Wash</a></h2>
          </div>
          <div class="product-description">
            <p>A gentle shampoo and body wash that is 100% natural with a fresh, powdery scent, perfect for your baby’s delicate skin.</p>
          </div>
          <div class="product-action-links">
            <a href="#" class="btn btn-yellow">Read Clinical Information</a> <br>
            <a href="#" class="btn btn-linkout"><span class="icon"><i class="fa fa-shopping-cart"></i></span> Buy Now</a>
          </div>
        </div>

        <div class="flying-icons bubbles-left-1">
          <div class="icons-container">
            <span class="icon fly icon-bubble-2"></span>
          </div>
        </div>

        <div class="flying-icons bubbles-right-1">
          <div class="icons-container">
            <span class="icon fly icon-bubble-1"></span>
            <span class="icon fly icon-bubble-5"></span>
          </div>
        </div>
      </li>
      <li class="product clearfix ">
        <a href="#" class="product-photo-container">
          <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/bar-soap.jpg" data-src-tablet="img/bar-soap-alt.jpg" data-src-mobile="img/bar-soap-alt.jpg" alt="Product Title Here">

          <!-- Fallback -->
          <noscript><img class="img-responsive" src="img/bar-soap.jpg" alt="Product Title Here" /></noscript>
        </a>
        <div class="product-details-container">
          <div class="product-title">
            <h2><a href="#">Bar Soap</a></h2>
          </div>
          <div class="product-description">
            <p>A gentle bar soap for your baby and the whole family that is 100% natural with a delicate, powdery scent.</p>
          </div>
          <div class="product-action-links">
            <a href="#" class="btn btn-yellow">Read Clinical Information</a> <br>
            <a href="#" class="btn btn-linkout"><span class="icon"><i class="fa fa-shopping-cart"></i></span> Buy Now</a>
          </div>
        </div>


        <div class="flying-icons bubbles-left-2">
          <div class="icons-container">
            <span class="icon fly icon-bubble-3"></span>
            <span class="icon fly icon-bubble-4"></span>
          </div>
        </div>
      </li>
      <li class="product clearfix ">
        <a href="#" class="product-photo-container">
          <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/lotion.jpg" data-src-tablet="img/lotion-alt.jpg" data-src-mobile="img/lotion-alt.jpg" alt="Product Title Here">

          <!-- Fallback -->
          <noscript><img class="img-responsive" src="img/lotion.jpg" alt="Product Title Here" /></noscript>
        </a>
        <div class="product-details-container">
          <div class="product-title">
            <h2><a href="#">Face &amp; Body Lotion</a></h2>
          </div>
          <div class="product-description">
            <p>A mild lotion for the face and body that is 100% natural with a very light, non-greasy formula and a delicate, powdery scent.</p>
          </div>
          <div class="product-action-links">
            <a href="#" class="btn btn-yellow">Read Clinical Information</a> <br>
            <a href="#" class="btn btn-linkout"><span class="icon"><i class="fa fa-shopping-cart"></i></span> Buy Now</a>
          </div>
        </div>


        <div class="flying-icons flowers-left-1">
          <div class="icons-container">
            <span class="icon fly icon-flower-1"></span>
          </div>
        </div>


        <div class="flying-icons flowers-left-2">
          <div class="icons-container">
            <span class="icon fly icon-flower-2"></span>
          </div>
        </div>


        <div class="flying-icons flowers-right">
          <div class="icons-container">
            <span class="icon fly icon-flower-3"></span>
          </div>
        </div>


      </li>
    </ul>
  </div>
</section>
@@include('./global/footer.html')
