@@include('./global/header.html')
<section id="innerbathandbody" class="listing-intro-section">
  <div class="woodplatform">
  </div>
  <div class="container">
    <div class="product-group-photo">
      <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/cologne-banner.png" alt="Bath &amp; Body">

      <noscript><img class="img-responsive" src="img/cologne-banner.png" alt="Bath &amp; Body" /></noscript>
    </div>
    <div class="bubble-information">
        <h1 class="title">Cologne</h1>
        <div class="subtitle">
            Clinically proven gentle and less irritating
        </div>
        <div class="description">
          Baby cologne is loved by moms and children alike. We created lovely scents that are clinically proven gentle and less irritating for the skin.
        </div>
    </div>
  </div>
</section>
<section id="productlisting"  class="products-listing">
  <div class="container">
    <ul class="products-list list-unstyled">
      <li class="product clearfix ">
        <div class="product-photo-container">
          <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/cologne-tickle.jpg" data-src-tablet="img/cologne-tickle-alt.jpg" data-src-mobile="img/cologne-tickle-alt.jpg" alt="Product Title Here">

          <!-- Fallback -->
          <noscript><img src="img/cologne-tickle.jpg" alt="Product Title Here" /></noscript>
        </div>
        <div class="product-details-container">
          <div class="product-title">
            <h2>Happy Tickle</h2>
          </div>
          <div class="product-description">
            <p>A fruity scent to add sweetness to the skin.</p>
          </div>
          <div class="product-action-links">
            <a href="#" class="btn btn-yellow">Read Clinical Information</a> <br>
            <a href="#" class="btn btn-linkout"><span class="icon"><i class="fa fa-shopping-cart"></i></span> Buy Now</a>
          </div>
        </div>

        <div class="flying-icons stars-list-left-1">
          <div class="icons-container">
            <span class="icon fly icon-star-2"></span>
            <span class="icon fly icon-star-4"></span>
            <span class="icon fly icon-star-1"></span>
          </div>
        </div>

        <div class="flying-icons stars-list-right-1">
          <div class="icons-container">
            <span class="icon fly icon-star-0-2"></span>
            <span class="icon fly icon-star-3"></span>
          </div>
        </div>
      </li>
      <li class="product clearfix ">
        <div class="product-photo-container">
          <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/cologne-snuggle.jpg" data-src-tablet="img/cologne-snuggle-alt.jpg" data-src-mobile="img/cologne-snuggle-alt.jpg" alt="Product Title Here">

          <!-- Fallback -->
          <noscript><img src="img/cologne-snuggle.jpg" alt="Product Title Here" /></noscript>
        </div>
        <div class="product-details-container">
          <div class="product-title">
            <h2>Sweet Snuggle</h2>
          </div>
          <div class="product-description">
            <p>A floral scent that blooms throughout the day.</p>
          </div>
          <div class="product-action-links">
            <a href="#" class="btn btn-yellow">Read Clinical Information</a> <br>
            <a href="#" class="btn btn-linkout"><span class="icon"><i class="fa fa-shopping-cart"></i></span> Buy Now</a>
          </div>
        </div>


        <div class="flying-icons candy-list-left-1">
          <div class="icons-container">
            <span class="icon fly icon-candy-2"></span>
            <span class="icon fly icon-candy-1"></span>
          </div>
        </div>

        <div class="flying-icons candy-list-right-1">
          <div class="icons-container">
            <span class="icon fly icon-candy-3"></span>
          </div>
        </div>
      </li>
      <li class="product clearfix ">
        <div class="product-photo-container">
          <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/cologne-drizzle.jpg" data-src-tablet="img/cologne-drizzle-alt.jpg" data-src-mobile="img/cologne-drizzle-alt.jpg" alt="Product Title Here">

          <!-- Fallback -->
          <noscript><img src="img/cologne-drizzle.jpg" alt="Product Title Here" /></noscript>
        </div>
        <div class="product-details-container">
          <div class="product-title">
            <h2>Cool Drizzle</h2>
          </div>
          <div class="product-description">
            <p>A classic scent that leaves skin feeling fresh.</p>
          </div>
          <div class="product-action-links">
            <a href="#" class="btn btn-yellow">Read Clinical Information</a> <br>
            <a href="#" class="btn btn-linkout"><span class="icon"><i class="fa fa-shopping-cart"></i></span> Buy Now</a>
          </div>
        </div>

        <div class="flying-icons cloud-list-left-1">
          <div class="icons-container">
            <span class="icon fly icon-cloud-3"></span>
          </div>
        </div>

        <div class="flying-icons cloud-list-right-1">
          <div class="icons-container">
            <span class="icon fly icon-cloud-1"></span>
            <span class="icon fly icon-cloud-2"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
@@include('./global/footer.html')
