@@include('./global/header.html')
<section id="guarantee-page">
    <div class="container">
        <div class="flying-icons cloud-stars-left">
          <div class="icons-container">
            <span class="icon fly icon-star-0"></span>
            <span class="icon fly icon-star-0-2"></span>
            <span class="icon icon-cloud-light-1"></span>
          </div>
        </div>
        <div class="flying-icons cloud-stars-right">
          <div class="icons-container">
            <span class="icon fly icon-star-0-1"></span>
            <span class="icon icon-cloud-light-2"></span>
          </div>
        </div>
        <div class="sleepingbaby">
            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/design-sleepingbaby-bokeh.png">
        </div>
        <div class="bubble-information">
            <div class="title"><h3>Belo Baby Guarantee</h3></div>
            <div class="description">
                Your baby's beautiful and delicate skin deserves the most gentle touch. The Belo Baby Guarantee ensures you of meticulous care with its Bath & Body products having 100% certified natural ingredients and 0% harmful chemicals, while the Colognes are clinically proven gentle and less irritating to skin.
            </div>
        </div>
    </div>
</section>
<div class="guarantee-information-box">

    <section class="guarantee-feature">
        <div class="container ">
          <div class="static-group">
            <div class="feature all-products">
                <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/banner-product-display-bath.png">
            </div>
          </div>
          <div class="slider-group">
            <div id="guarantee-slider-mobile" class="owl-carousel">
              <div class="slide">
                <img src="img/banner-product-display-bath.png">
              </div>
            </div>
          </div>


            <div class="flying-icons cloud-stars-left">
              <div class="icons-container">
                <span class="icon fly icon-star-0-2"></span>
                <span class="icon icon-cloud-1"></span>
                <span class="icon fly icon-star-1"></span>
              </div>
            </div>


            <div class="flying-icons cloud-stars-right">
              <div class="icons-container">
                <span class="icon icon-cloud-2"></span>
                <span class="icon fly icon-star-0-3"></span>
              </div>
            </div>
        </div>
    </section>

    <section class="benefits-description">
        <div class="container">
            <div class="benefits-photo-area clearfix">
                <div class="benefit-photo-container">
                  <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/sleeping-baby.jpg" data-src-tablet="img/sleeping-baby-tablet.jpg" data-src-mobile="img/sleeping-baby-mobile.jpg">
                  <noscript><img class="img-responsive" src="img/sleeping-baby.jpg"></noscript>
                </div>
                <div class="benefit-details-container">
                  <div class="inner-container">
                    <div class="section-header">
                        <h2>What is Good Your Baby?</h2>
                        <p>Your baby's delicate skin needs to be kept in its purest form. We guarantee that Belo Baby is clinically proven gentle on the skin for everyday use. Each ingredient was meticulously selected to ensure that it’s natural, safe and gentle for your baby.</p>
                    </div>
                    <div class="benefits-elaborated">
                        <ul class="list-unstyled">
                            <li>
                                <div class="icon-container">
                                    <span class="icon icon-hand-heart"></span>
                                </div>
                                <div class="benefit-description">
                                    <p><strong>Cocoa Butter</strong> is an ingredient that contains antioxidant qualities that protect skin from the outside. It keeps the skin healthy by strengthening and deeply moisturizing it. With its anti-inflammatory properties, it also relieves common skin irritations like rashes. </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon-container">
                                    <span class="icon icon-leaf-blue"></span>
                                </div>
                                <div class="benefit-description">
                                    <p><strong>Shea Butter</strong> is a known superfood for the skin, as well as the hair. It heals, protects, nourishes, and moisturizes skin from damage and dryness. Because it is natural,  gentle, and soft, it is suitable for all skin types especially the delicate and sensitive skin of babies. It naturally heals common skin conditions of babies like eczema and diaper rash.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon-container">
                                    <span class="icon icon-flowers-blue"></span>
                                </div>
                                <div class="benefit-description">
                                    <p><strong>Sweet Almond Oil</strong> has the ability to lock moisture into the skin. It is also a good exfoliator to help remove dead skin cells and stimulate the development of healthier skin. It is generally safe for all skin types, including delicate baby skin.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-benefits">
        <div class="container">
            <ul class="list-unstyled list-inline">
                <li>
                    <div class="benefit-icon">
                        <span class="icon icon-safety"></span>
                    </div>
                    <h3>Safe</h3>
                    <p>Your baby's life is a gift that must be guarded in safe hands. We want to protect your baby's skin from harm by using safe and reliable ingredients to avoid irritation.</p>
                </li>
                <li>
                    <div class="benefit-icon">
                        <span class="icon icon-mildness"></span>
                    </div>
                    <h3>Natural</h3>
                    <p>Your newborn deserves the most natural care in the world. We made sure to use 100% Certified Natural Ingredients and 0% Harmful Chemicals in our Belo Baby products.</p>
                </li>
                <li>
                    <div class="benefit-icon">
                        <span class="icon icon-effectiveness"></span>
                    </div>
                    <h3>Gentle</h3>
                    <p>Your baby's delicate body needs the gentlest touch and embrace. We provide a soft touch that is clinically proven gentle on the skin because of our chosen ingredients.</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="harmful-info-details">
        <div class="container">
            <div class="section-header">
                <div class="section-icon">
                    <span class="icon icon-guarantee-caution"></span>
                </div>
                <div class="section-details">
                    <h3>What is Harmful for your body?</h3>
                    <p>Unlike the common touch of other baby products, Belo Baby provides a safer alternative. We took meticulous care in choosing not only which ingredients to put in, but which to leave out.</p>
                </div>
            </div>
            <div class="section-chemical-list">
                <div class="section-header">
                    <h3>List of Chemicals usually present in other brands.</h3>
                </div>
                <div class="chemical-list">
                    <ul class="chemicals list-unstyled list-inline">
                        <li class="chemical">
                            <h4>NO Tetrasodium EDTA</h4>
                            <p>A preservative that’s made from the known carcinogens formaldehyde and sodium cyanide. It is also a penetration enhancer, meaning it breaks down the skin's protective barrier, going right into the bloodstream.</p>
                        </li>
                        <li class="chemical">
                            <h4>NO Magnesium Sulfate</h4>
                            <p>An ingredient that strips the skin of its natural oils and increases penetration of the skin surface. It is also an irritant for people with sensitive skin or eczema.</p>
                        </li>
                        <li class="chemical">
                            <h4>NO Sodium Tallowate</h4>
                            <p>A sulfractant for cleansing and boosting foam in cosmetic products. </p>
                        </li>
                        <li class="chemical">
                            <h4>NO Phthalates</h4>
                            <p>A chemical ingredient used as a plasticizer to soften plastics. It is also an ingredient in baby products to help lotions penetrate and soften the skin and make fragrances last longer.</p>
                        </li>
                        <li class="chemical">
                            <h4>NO Parabens</h4>
                            <p>A preservative used to extend the shelf life of food and cosmetic products by preventing mold and bacteria growth.</p>
                        </li>
                        <li class="chemical">
                            <h4>NO Sodium Lauryl Sulfate (SLS)</h4>
                            <p>A cleansing and foaming agent used in soap, shampoo and washes. This ingredient can irritate the skin when used often or in high concentrations.</p>
                        </li>
                        <li class="chemical">
                            <h4>NO Formaldehyde</h4>
                            <p>A highly effective preservative and disinfectant, and a component in products like paints, car parts, plastics, carpets, and cleaning products. Many baby shampoos and body washes contain formaldehyde releasers that keep bacteria from growing in the product. It is dangerous when inhaled in large amounts.</p>
                        </li>
                        <li class="chemical">
                            <h4>No Tetrasodium Etidronate</h4>
                            <p>A chelating agent and preservative used to prevent a change in color, texture and fragrance in cosmetics, soaps and shampoos. It can irritate skin conditions and is sometimes considered as carcinogenic.</p>
                        </li>
                        <li class="chemical">
                            <h4>No Dmdm Hydantoin</h4>
                            <p>A formaldehyde-donor preservative that prevents the spoilage of cosmetics and personal care products. When absorbed by skin in large amounts, it can cause formaldehyde allergies like skin irritation.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="articles-link-out-group">
                <div class="section-header">
                    <h3>For more Articles &amp; Tips!</h3>
                </div>

                <div class="link-out-container">
                    <a href="#" class="btn btn-yellow">Read Articles</a>
                </div>
            </div>
        </div>
    </section>

</div>

@@include('./global/footer.html')
