@@include('./global/header.html') @@include('./global/splash.html')
<section id="home">
    <div class="woodplatform">
        <!--back design-->
        <div class="tree"></div>
    </div>
    <div class="container">
        <div class="banner-product-display">
            <div class="flying-icons flowers-left">
                <div class="icons-container">
                    <span class="icon fly icon-yellow-flower"></span>
                    <span class="icon fly icon-flower-pale"></span>
                </div>
            </div>
            <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/banner-product-display.png">
            <noscript>
                <img class="img-responsive" src="img/banner-product-display.png">
            </noscript>
        </div>
        <div class="bubble-information">
            <div class="title">
                <h1>Belo Baby Products</h1>
            </div>
            <div class="description">
                We crafted our products with care for your baby and the whole family. Bath &amp; Body for your family's skin care needs, and Colognes for your children's fresh scent. All made with the Belo Baby Guarantee!
            </div>
            <div class="btnwrap">
                <a href="javascript:void(0)" class="btn custom-btn">Bath &amp; Body</a>
                <a href="javascript:void(0)" class="btn custom-btn">Cologne</a>
            </div>
        </div>
    </div>
</section>
<section id="guarantee">
    <div class="container">
        <div class="bubble-information">
            <div class="title">
                <h1>Belo Baby Guarantee</h1>
            </div>
            <div class="description">
                Your baby's beautiful and delicate skin deserves the most gentle touch. The Belo Baby Guarantee ensures you of meticulous care with its Bath & Body products having 100% certified natural ingredients and 0% harmful chemicals, while the Colognes are clinically proven gentle and less irritating to skin.
            </div>
            <div class="archive">
                <span class="certifiednatural">
                  <img src="img/certifiednatural.png" alt="Certified Natural" class="img-responsive">
                </span>
                <span class="clinicallyproven">
                  <img src="img/clinicallyproven.png" alt="Clinically Proven" class="img-responsive">
                </span>
            </div>
            <div class="btnwrap">
                <a href="javascript:void(0)" class="btn custom-btn">Read More</a>
            </div>
        </div>
        <div class="sleepingbaby">
            <img class="b-lazy img-responsive" src="img/design-sleepingbaby-bokeh-home.png" data-src="img/design-sleepingbaby-bokeh-home.png">
        </div>
        <div class="flying-icons cloud-stars-left">
            <div class="icons-container">
                <span class="icon fly icon-star-0"></span>
                <span class="icon fly icon-star-0-2"></span>
                <span class="icon icon-cloud-light-1"></span>
            </div>
        </div>
        <div class="flying-icons cloud-stars-right">
            <div class="icons-container">
                <span class="icon fly icon-star-0-1"></span>
                <span class="icon icon-cloud-light-2"></span>
            </div>
        </div>
    </div>
</section>
<section id="belobabycare">
    <div class="gradient"></div>
    <!-- baby -->
    <div class="container bottom-pads">
        <div class="bubble-information">
            <div class="title">
                <h1>Belo Baby Care</h1>
            </div>
            <div class="description">
                Your baby's care and comfort is also our concern. That's why we have a collection of articles prepared to help you through the most challenging months of your child's life.
            </div>
            <div class="btnwrap">
                <a href="javascript:void(0)" class="btn custom-btn">Gently Body and Care</a>
                <a href="javascript:void(0)" class="btn custom-btn">Baby's Comfort</a>
            </div>
        </div>
        <div class="sleepingbaby">
            <img class="b-lazy img-responsive b-loaded" src="img/belobabycare-sleeping-baby.png">
        </div>
    </div>
    <!-- articles -->
    <div class="container article">
        <div class="whats-new">
            <div class="title">
                <h1>WHAT'S NEW</h1>
            </div>
            <ul class="new-items">
                <li>
                    <div class="item">
                        <div class="thumb" style="background-image: url(../img/sample-newest-article.jpg);"></div>
                        <div class="content">
                            <p class="time-ago"><small>Posted 30mins ago</small></p>
                            <h3 class="inner-title">Embracing the Chaos</h3>
                            <div class="info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aq ua. Ut enim ad minim.
                            </div>
                            <a href="" class="btn-read-more">READ MORE ></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb" style="background-image: url(../img/sample-newest-article.jpg);"></div>
                        <div class="content">
                            <p class="time-ago"><small>Posted 30mins ago</small></p>
                            <h3 class="inner-title">Embracing the Chaos</h3>
                            <div class="info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aq ua. Ut enim ad minim.
                            </div>
                            <a href="" class="btn-read-more">READ MORE ></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="featured-article">
            <div class="title">
                <h1>FEATURED ARTICLES</h1>
            </div>
            <ul class="featured-items">
                <li>
                    <div class="item">
                        <div class="thumb" style="background-image: url('../img/sample-featured-article.jpg')">
                        </div>
                        <div class="content">
                            <h3 class="inner-title">Baby Sleep Training: 4 Tips to Help Your Baby Sleep</h3>
                            <div class="info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                            </div>
                            <a href="" class="btn-read-more">READ MORE ></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb" style="background-image: url('../img/sample-featured-article.jpg')">
                        </div>
                        <div class="content">
                            <h3 class="inner-title">Baby Sleep Training: 4 Tips to Help Your Baby Sleep</h3>
                            <div class="info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                            </div>
                            <a href="" class="btn-read-more">READ MORE ></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb" style="background-image: url('../img/sample-featured-article.jpg')">
                        </div>
                        <div class="content">
                            <h3 class="inner-title">Baby Sleep Training: 4 Tips to Help Your Baby Sleep</h3>
                            <div class="info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                            </div>
                            <a href="" class="btn-read-more">READ MORE ></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb" style="background-image: url('../img/sample-featured-article.jpg')">
                        </div>
                        <div class="content">
                            <h3 class="inner-title">Baby Sleep Training: 4 Tips to Help Your Baby Sleep</h3>
                            <div class="info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                            </div>
                            <a href="" class="btn-read-more">READ MORE ></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb" style="background-image: url('../img/sample-featured-article.jpg')">
                        </div>
                        <div class="content">
                            <h3 class="inner-title">Baby Sleep Training: 4 Tips to Help Your Baby Sleep</h3>
                            <div class="info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                            </div>
                            <a href="" class="btn-read-more">READ MORE ></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="belobabybuzz">
    <div class="topgradient"></div>
    <div class="container">
        <div class="bubble-information">
            <div class="title">
                <h1>Belo Baby Buzz</h1>
            </div>
            <div class="description">
                Our products have been tried and tested by moms like you! Read about what they have to say about Belo Baby.
            </div>
            <div class="qoute">
                <div class="caption">
                    <p>“Perfect size for keeping in your little one's diaper bag just in case. The scent and quality of these items is amazing!”</p>
                    <p>- Heather Morris, Homeschooler Mom</p>
                </div>
            </div>
            <div class="btnwrap">
                <a href="javascript:void(0)" class="btn custom-btn">See what's mom are saying</a>
            </div>
        </div>
    </div>
    <div class="momandbaby">
        <img class="b-lazy img-responsive b-loaded" src="img/belobabybuzz-momandbaby.png">
    </div>
</section>
<section id="belobabyscrapbook">
    <div class="container">
        <div class="title-wrap">
            <h1 class="title">Belo Baby Scrapbook</h1>
        </div>
        <div class="info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore evt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <ul class="aggregate-lists">
            <li>
                <div class="item">
                    <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                    <div class="owner">
                        <img src="img/hair-body.jpg" class="img-circle" alt="">
                        <span>Tina Rodriguez</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                    <div class="owner">
                        <img src="img/hair-body.jpg" class="img-circle" alt="">
                        <span>Tina Rodriguez</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                    <div class="owner">
                        <img src="img/hair-body.jpg" class="img-circle" alt="">
                        <span>Tina Rodriguez</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                    <div class="owner">
                        <img src="img/hair-body.jpg" class="img-circle" alt="">
                        <span>Tina Rodriguez</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                    <div class="owner">
                        <img src="img/hair-body.jpg" class="img-circle" alt="">
                        <span>Tina Rodriguez</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                    <div class="owner">
                        <img src="img/hair-body.jpg" class="img-circle" alt="">
                        <span>Tina Rodriguez</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                    <div class="owner">
                        <img src="img/hair-body.jpg" class="img-circle" alt="">
                        <span>Tina Rodriguez</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                    <div class="owner">
                        <img src="img/hair-body.jpg" class="img-circle" alt="">
                        <span>Tina Rodriguez</span>
                    </div>
                </div>
            </li>
            <!-- end -->
        </ul>
        <div class="clearfix">
            <div/>
            <div class="btnwrap">
                <a href="javascript:void(0)" class="btn custom-btn">View All Photos</a>
            </div>
        </div>
</section>
@@include('./global/footer.html')
