@@include('./global/header.html')
<section id="inner-belobaby-care">
    <div class="bg-row">
        <div class="container pads">
            <div class="lensflare"></div>
            <div class="bubble-info-wdecor">
                <div class="title">
                    <h2>Gentle Body Care</h2>
                </div>
                <div class="info">
                    <p>Your baby's care and comfort is also our concern. That's why we have a collection of articles prepared to help you through the most challenging months of your child's life. </p>
                </div>
            </div>
            <div class="sleepingbaby">
                <img class="b-lazy img-responsive b-loaded" src="img/inner-belobabycare-sleeping.png">
            </div>
        </div>
    </div>
    <div class="article">
        <div class="container">
            <div class="mobile-row">
                <div class="second-nav">
                    <ul>
                        <li class="active">
                            <a href="">Gentle Skin Care</a>
                        </li>
                        <li>
                            <a href="">Bathing Basics</a>
                        </li>
                        <li style="border-right:0;">
                            <a href="">Easy Grooming</a>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container content-post-articles">
            <h2 class="section-header"><i class="icon-doc"></i><em>Latest  Articles</em></h2>
            <ul class="articles">
                <li>
                    <div class="thumb">
                        <img class="b-lazy img-responsive"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="img/belobabycare/babythumb-desktop.png"
                        data-src-tablet="img/belobabycare/babythumb-tablet.png"
                        data-src-mobile="img/belobabycare/babythumb-mobile.png"
                        alt="Product Title Here">
                    </div>
                    <div class="time-ago"><small>Posted 30mins ago</small></div>
                    <div class="inner-content">
                        <h2 class="title">Choosing the Right Detergent</h2>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur dipcin. Og elit, seddo eiusmod tempor dunt ut laboret dolore magna aqua.</p>
                        </div>
                        <a href="#" class="btn-readmore">READ MORE &gt;</a>
                    </div>
                </li>

                <li>
                    <div class="thumb">
                        <img class="b-lazy img-responsive"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="img/belobabycare/babythumb-desktop.png"
                        data-src-tablet="img/belobabycare/babythumb-tablet.png"
                        data-src-mobile="img/belobabycare/babythumb-mobile.png"
                        alt="Product Title Here">
                    </div>
                    <div class="time-ago"><small>Posted 30mins ago</small></div>
                    <div class="inner-content">
                        <h2 class="title">Choosing the Right Detergent</h2>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur dipcin. Og elit, seddo eiusmod tempor dunt ut laboret dolore magna aqua.</p>
                        </div>
                        <a href="#" class="btn-readmore">READ MORE &gt;</a>
                    </div>
                </li>


                <li>
                    <div class="thumb">
                        <img class="b-lazy img-responsive"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="img/belobabycare/babythumb-desktop.png"
                        data-src-tablet="img/belobabycare/babythumb-tablet.png"
                        data-src-mobile="img/belobabycare/babythumb-mobile.png"
                        alt="Product Title Here">
                    </div>
                    <div class="time-ago"><small>Posted 30mins ago</small></div>
                    <div class="inner-content">
                        <h2 class="title">Choosing the Right Detergent</h2>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur dipcin. Og elit, seddo eiusmod tempor dunt ut laboret dolore magna aqua.</p>
                        </div>
                        <a href="#" class="btn-readmore">READ MORE &gt;</a>
                    </div>
                </li>


                <li>
                    <div class="thumb">
                        <img class="b-lazy img-responsive"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="img/belobabycare/babythumb-desktop.png"
                        data-src-tablet="img/belobabycare/babythumb-tablet.png"
                        data-src-mobile="img/belobabycare/babythumb-mobile.png"
                        alt="Product Title Here">
                    </div>
                    <div class="time-ago"><small>Posted 30mins ago</small></div>
                    <div class="inner-content">
                        <h2 class="title">Choosing the Right Detergent</h2>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur dipcin. Og elit, seddo eiusmod tempor dunt ut laboret dolore magna aqua.</p>
                        </div>
                        <a href="#" class="btn-readmore">READ MORE &gt;</a>
                    </div>
                </li>

            </ul>
            <div class="clearfix"></div>
            <div class="whitebtn btnwrap">
                <a href="javascript:void(0)" class="btn custom-btn">View More</a>
            </div>
        </div>
        <div class="container content-post-videos">
            <h2 class="section-header"><i class="icon-vid"></i><em>Videos</em></h2>
            <div class="mobile-row">
                <ul class="videos">
                    <li>
                        <div class="videoWrapper">
                            <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="description">
                            <h2 class="title">How to massage your baby</h2>
                            <div class="inner-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, salut. Quis nostrud exercitation ullamco laboris.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="videoWrapper">
                            <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="description">
                            <h2 class="title">How to massage your baby</h2>
                            <div class="inner-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, salut. Quis nostrud exercitation ullamco laboris.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search-article">
        <div class="container">
            <h2 class="title">
            Search for Articles
          </h2>
            <form action="">
                <div class="searchwrap">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Enter Keywords">
                    <input type="submit" class="btn" value="SEARCH">
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</section>
@@include('./global/footer.html')
<script>
$(function() {
    $('header#main').css({
        'position': 'absolute'
    });
});
</script>
