@@include('./global/header.html')
<section id="inner-belobaby-buzz">
    <div class="buzzg-row">
        <div class="container">
            <div class="bubble-info-wdecor">
                <div class="title">
                    <h2>Gentle Body Buzz</h2>
                </div>
                <div class="info">
                    <p>Our products have been tried and tested by moms like you! Read about what they have to say about Belo Baby. </p>
                </div>
            </div>
            <div class="momandbaby">
                <img class="b-lazy img-responsive b-loaded" src="img/belobabybuzz-momandbaby.png">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="inline-row">
                <div class="movable-row text-center">
                    <!--nav-->
                    <a href="#tab-moms-say" data-toggle="tab" class="wms active">What Moms Says</a>
                    <a href="#tab-scrapbook" data-toggle="tab" class="bs">Belo Scrapbook</a>
                </div>
            </div>
            <div class="main-content tab-content">
                <div id="tab-moms-say" class="tab-pane fade in active">
                    <ul class="comment-list">
                        <li>
                            <div class="entry">
                                <div class="imgholder">
                                    <img class="img-responsive img-circle" src="img/mom-entry-img.png" alt="">
                                </div>
                                <div class="caption">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                                </div>
                                <p class="name">Inna Dominique Villa,</p>
                                <p class="position">Ina Ng Tahanan</p>
                            </div>
                        </li>
                        <li>
                            <div class="entry">
                                <div class="imgholder">
                                    <img class="img-responsive img-circle" src="img/mom-entry-img.png" alt="">
                                </div>
                                <div class="caption">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                                </div>
                                <p class="name">Inna Dominique Villa,</p>
                                <p class="position">Ina Ng Tahanan</p>
                            </div>
                        </li>
                        <li>
                            <div class="entry">
                                <div class="imgholder">
                                    <img class="img-responsive img-circle" src="img/mom-entry-img.png" alt="">
                                </div>
                                <div class="caption">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                                </div>
                                <p class="name">Inna Dominique Villa,</p>
                                <p class="position">Ina Ng Tahanan</p>
                            </div>
                        </li>
                        <li>
                            <div class="entry">
                                <div class="imgholder">
                                    <img class="img-responsive img-circle" src="img/mom-entry-img.png" alt="">
                                </div>
                                <div class="caption">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                                </div>
                                <p class="name">Inna Dominique Villa,</p>
                                <p class="position">Ina Ng Tahanan</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="tab-scrapbook" class="tab-pane fade">
                    <!-- aggregate -->
                    <ul class="aggregate-lists">
                        <li>
                            <div class="item">
                                <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                                <div class="owner">
                                    <img src="img/hair-body.jpg" class="img-circle" alt="">
                                    <span>Tina Rodriguez</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                                <div class="owner">
                                    <img src="img/hair-body.jpg" class="img-circle" alt="">
                                    <span>Tina Rodriguez</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                                <div class="owner">
                                    <img src="img/hair-body.jpg" class="img-circle" alt="">
                                    <span>Tina Rodriguez</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                                <div class="owner">
                                    <img src="img/hair-body.jpg" class="img-circle" alt="">
                                    <span>Tina Rodriguez</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                                <div class="owner">
                                    <img src="img/hair-body.jpg" class="img-circle" alt="">
                                    <span>Tina Rodriguez</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                                <div class="owner">
                                    <img src="img/hair-body.jpg" class="img-circle" alt="">
                                    <span>Tina Rodriguez</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                                <div class="owner">
                                    <img src="img/hair-body.jpg" class="img-circle" alt="">
                                    <span>Tina Rodriguez</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb" style="background-image: url(../img/masthead-tablet.jpg);"></div>
                                <div class="owner">
                                    <img src="img/hair-body.jpg" class="img-circle" alt="">
                                    <span>Tina Rodriguez</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- aggregate end -->
                </div>
            </div>
        </div>
    </div>
</section>
@@include('./global/footer.html')
<script>
$(function() {
    $('header#main').css({
        'position': 'absolute'
    });
});
</script>
