@@include('./global/header.html')
<section id="inner-article">
    <!-- splash -->
    <div class="row-bg">
        <div class="container">
            <div class="bubble-info-center text-center">
                <h2 class="title">Articles</h2>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="sleepingbaby">
            <img class="img-responsive" src="img/inner-article-sleepingbaby.png" alt="">
        </div>
    </div>
    <!-- article-main -->
    <div class="container content">
        <div class="tags">
            <span class="lbl"> <i class="icon-tags"></i>TAGS:</span>
            <ul class="pertag">
                <li>Tips</li>
                <li>Skin</li>
                <li>Health</li>
            </ul>
        </div>
        <div class="social-share">
            <small><em>Share this Article</em>&nbsp;&nbsp;</small>
            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="box">
            <div class="title">
                Simple Tips to Keep Baby's Skin Healthy
            </div>
            <div class="desc">
                Your baby’s skin plays an important role in maintaining his health and in defending against irritants, germs and bacteria. Skin also regulates your baby's internal temperature and is a tool for exploring his world through touch.
            </div>
            <div class="post-date">
                <small>Posted on January 10, 2016 at 3:00 PM</small>
            </div>
            <div class="inner-box">
                <div class="col-left">
                    <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/belobaby-inner-article/babyimg-desktop.png" data-src-tablet="img/belobaby-inner-article/babyimg-tablet.png" data-src-mobile="img/belobaby-inner-article/babyimg-mobile.png" alt="Product Title Here">
                </div>
                <div class="col-right">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                    </p>
                    <br/>
                    <p>
                        Your baby’s skin is different than adult skin. It may look perfect, but it is very delicate so it needs extra special care throughout the first years of life. Compared to adult’s skin, baby’s skin:
                    </p>
                    <br/>
                    <ul>
                        <li>
                            Is about 30% thinner
                        </li>
                        <li>
                            Can lose moisture faster
                        </li>
                        <li>
                            Is more prone to irritation
                        </li>
                        <li>
                            Absorbs water at a faster rate, and can lose it faster, too!
                        </li>
                    </ul>
                    <br/>
                    <p>
                        Because it is more delicate, baby’s skin needs more protection from environmental changes and harsh cleansers.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="sub-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <!-- end of box   -->
        </div>
        <div class="suggested">
            <div class="key-product">
                <h2 class="title">
                  <i class="icon-suggested-kp"></i>
                  <span>Key Product:</span>
                </h2>
                <div class="wrapper">
                    <img class="img-responsive" src="img/keyproduct-img.jpg" alt="">
                </div>
            </div>
            <div class="others">
                <h2 class="title">
                   <i class="icon-suggested-others"></i>
                  <span>You might like:</span>
                </h2>
                <div class="mobile-row">
                    <div id="carousel-might-like">
                        <div class="item">
                            <img class="img-responsive" src="img/suggested-others-sample-img.jpg" alt="">
                            <div class="short-desc">
                                <p>What Baby Skin Care Products Does Your Newborn Need?</p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/suggested-others-sample-img.jpg" alt="">
                            <div class="short-desc">
                                <p>What Baby Skin Care Products Does Your Newborn Need?</p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/suggested-others-sample-img.jpg" alt="">
                            <div class="short-desc">
                                <p>What Baby Skin Care Products Does Your Newborn Need?</p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/suggested-others-sample-img.jpg" alt="">
                            <div class="short-desc">
                                <p>What Baby Skin Care Products Does Your Newborn Need?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container comment">
        <div class="headerwrap">
            <img src="img/icon-comment.jpg" alt="">
            <div class="inlinerow">
                <div class="movablerow">
                    <h2 class="big-title">COMMENTS</h2>
                </div>
            </div>
        </div>
        <div class="disqusWrapper">
            <!-- DISQUS -->
            <div id="disqus_thread"></div>
            <script>
            /**
             * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            var disqus_config = function() {
                this.page.url = window.location.href;
            };
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document,
                    s = d.createElement('script');

                s.src = '//belo-baby-official.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            <!-- DISQUS -->
        </div>
    </div>
</section>
@@include('./global/footer.html')
<script>
$(function() {
    $('header#main').css({
        'position': 'absolute'
    });
});
</script>
