@@include('./global/header.html')
<section class="product-single">
  <div class="container">
    <div class="product-single-details">
      <div class="product-single-header">
        <h1>Hair &amp; Body Wash</h1>
        <p>A gentle shampoo and body wash that is 100% natural with a fresh, powdery scent, perfect for your whole family.</p>
      </div>
      <div class="product-single-photo-area clearfix">
        <div class="product-photo-container">
          <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/hair-body.jpg" data-src-tablet="img/bar-soap-alt.jpg" data-src-mobile="img/hair-body.jpg" alt="Product Name Here">
          <noscript><img src="img/hair-body.jpg" alt="Product Name Here"></noscript>
        </div>
        <div class="guarantee-share-container">
          <div class="inner-container">
            <div class="share-section">
              <span>Share This Product</span>
              <div class="social-share">
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook"><i class="fa fa-facebook"></i></a>
                    <a class="a2a_button_twitter"><i class="fa fa-twitter"></i></a>
                    <a class="a2a_button_pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
              </div>
            </div>
            <div class="guarantee-section">
              <h3>The Belo Baby Guarantee:</h3>
              <p>100% Certified Natural Ingredients, <br>0% Harmful Chemical</p>
              <img src="img/certifiednatural-large.png" alt="Certified Natural">
            </div>
            <div class="price-section">
              P<span class="price">219.75</span>
            </div>
            <div class="action-section">
              <a href="#" class="btn btn-buy-out">
                <span class="icon"><i class="fa fa-shopping-cart"></i></span>
                <span class="label">Buy Now!</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-ingredient-list comparison">
        <div class="comparison-header clearfix">
          <div class="icon-container"><span class="icon icon-heart"></span></div>
          <h3>Ingredient Information</h3>
        </div>
        <div class="table-container">
          <p>Rich in shea butter and sweet almond oil to nourish and condition delicate skin.</p>
          <p>Absolutely FREE of SLS, sulfates, parabens, phthalates, dyes, sodium chloride, formaldehyde, MEA, DEA,TEA & most common allergens.</p>
          <p>Hypoallergenic</p>
          <p>Dermatologist-Tested</p>
          <p>Perfect for all skin types</p>
        </div>
      </div>
      <div class="ingredient-comparison-container">
        <div class="section-header">
          <h3 class="section-title">Ingredient Comparison</h3>
          <p>With our Belo Baby line, we took meticulous care in choosing not only which ingredients to put in, but which ingredients to leave out.</p>
        </div>

        <div class="ingredient-comparison-cols clearfix">
          <div class="natural-comparison comparison">
            <div class="comparison-header clearfix">
              <div class="icon-container"><span class="icon icon-leaf"></span></div>
              <h3>Certified Natural Ingredients</h3>
            </div>
            <div class="table-container">
              <table  class="toggle-comparison">
                <thead>
                  <tr>
                    <td></td>
                    <td class="trigger-col b-current">Belo Baby <i class="fa fa-caret-right"></i></td>
                    <td class="trigger-col b-other"><i class="fa fa-caret-left"></i> Other Brands</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Water</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Potassium Cocoate</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Cocamide MEA</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Cocamidopropyl Betaine</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Glycerin</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Coco-Glyceride (palm-derived)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Dioleate (vegetable-derived)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Sorbitan Sesquicaprylate (palm kernel oil and corn-derived)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Butyrospermum Parkii(Shea Butter)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Benzyl Alcohol</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Glyceryl Caprylate</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Prunus Amygdalus Dulcis (Almond) Oil</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Glyceryle Undecylenate (natural derived preservative)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Lactic Acid</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Sodium Lauroamphoacetate (palm oil-derived)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Fragrance (from natural essential oils)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Epilobium Angustifolium Flower/Leaf/Stem Extract (Canadian Willowherb)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                  <tr>
                    <td>Glucono-delta-Lactone (corn-derived)</td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="harmful-comparison comparison">
            <div class="comparison-header clearfix">
              <div class="icon-container"><span class="icon icon-caution"></span></div>
              <h3>Harmful Chemicals</h3>
            </div>
            <div class="table-container">
              <table class="toggle-comparison">
                <thead>
                  <tr>
                    <td></td>
                    <td class="trigger-col b-current">Belo Baby <i class="fa fa-caret-right"></i></td>
                    <td class="trigger-col b-other"><i class="fa fa-caret-left"></i> Other Brands</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sodium Laureth Sulfate</td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Tetrasodium EDTA</td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Sodium Myreth Sulfate</td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Sodium Trideceth Sulfate</td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Dmdm Hydantoin</td>
                    <td class="b-other"><i class="fa fa-times"></i></td>
                    <td class="b-current"><i class="fa fa-check"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="product-ratings-container">
        <div class="section-header">
          <h3 class="section-title">Product Ratings</h3>
          <div class="section-description">What do you think about this product? Would you recommend it to others? Rate it below or read the testimonials from other moms!</div>
          <div class="section-avg-rating-trigger">
            <div class="avg-rating">
              <div class="avg-rating-stars">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="avg-rating-description">
                <p>Based on 180/180 Votes - 100% <span>Recommended</span></p>
              </div>
            </div>
            <div class="section-action">
              <button class="btn btn-review">Add Your Review</button>
            </div>
          </div>
        </div>
        <div class="ratings-list-container">
          <ul class="list-unstyled list-inline">
            <li class="rating">
              <div class="rating-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
              </div>
              <div class="rating-score">
                <div class="rating-stars">
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                </div>
                <div class="rating-score-description">
                  <p>5 out of 5 stars</p>
                </div>
              </div>
              <div class="rating-author">
                <span class="author">Inna Dominique Villa</span>
              </div>
            </li>
            <li class="rating">
              <div class="rating-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
              </div>
              <div class="rating-score">
                <div class="rating-stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="rating-score-description">
                  <p>5 out of 5 stars</p>
                </div>
              </div>
              <div class="rating-author">
                <span class="author">Inna Dominique Villa</span>
              </div>
            </li>
            <li class="rating">
              <div class="rating-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
              </div>
              <div class="rating-score">
                <div class="rating-stars">
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="rating-score-description">
                  <p>5 out of 5 stars</p>
                </div>
              </div>
              <div class="rating-author">
                <span class="author">Inna Dominique Villa</span>
              </div>
            </li>
            <li class="rating">
              <div class="rating-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
              </div>
              <div class="rating-score">
                <div class="rating-stars">
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="rating-score-description">
                  <p>5 out of 5 stars</p>
                </div>
              </div>
              <div class="rating-author">
                <span class="author">Inna Dominique Villa</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


@@include('./global/footer.html')
