<div id="review-form" class="popup-std">
  <div class="popup-outer-container">
    <div class="popup-contents review-form">
      <div class="review-form-inner">
        <div class="popup-heading">
          <div class="section-title-container">
            <h3>Add Review</h3>
          </div>
          <div class="section-description-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
          </div>
        </div>
        <div class="rate-form">
          <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Error!</strong> Something is Wrong!
          </div>
          <form id="submit-rating">
            <div class="row clearfix">
              <div class="first-group">
                <div class="form-group">
                  <label class="control-label">Full Name:<span class="text-danger">*</span></label>
                  <div class="form-input-container name-container">
                      <input type="text" class="form-control" placeholder="First Name">
                      <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                </div>
              </div>
              <div class="second-group">
                <div class="form-group">
                  <label class="control-label">Email:<span class="text-danger">*</span></label>
                  <div class="form-input-container">
                    <input type="email" class="form-control" placeholder="Your email address">
                  </div>
                </div>
                <div class="form-group bday-container">
                  <label class="control-label">Birthday:<span class="text-danger">*</span></label>
                  <div class="form-input-container">
                    <input type="text" class="month form-control" placeholder="MM">
                    <input type="text" class="day form-control" placeholder="DD">
                    <input type="text" class="year form-control" placeholder="YYYY">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group review-container">
                <label class="control-label">Your Review:<span class="text-danger">*</span></label>
                <div class="form-input-container">
                  <textarea name="" id="" placeholder="Write your Belo Product Review here" cols="30" rows="2" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group rating-container text-center">
                <label for="">Product Rating: <span class="text-danger">*</span></label>
                <div class="rate-container">
                  <select id="rate-form">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>

              </div>
            </div>
            <div class="form-submit-container text-center">
              <button class="btn btn-submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
