<div id="review-submit-success" class="popup-std">
  <div class="popup-outer-container">
    <div class="popup-contents">
      <div class="success-message-container text-center">
        <h3>Thank You</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        <button class="btn btn-success-close-pop">Go Back</button>
      </div>
    </div>
  </div>
</div>
