<div id="search-popup" class="popup-std search">
  <div class="v-popup">
    <div class="form-item clearfix">
      <form action="">
        <span class="desktop-lbl">SEARCH</span>
        <input placeholder="Enter Keywords" type="text">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</div>
