
@font-face {
  font-family: 'GoodDogPlain';
  src: url('GoodDogPlain.eot?#iefix') format('embedded-opentype'),  url('GoodDogPlain.woff') format('woff'), url('GoodDogPlain.ttf')  format('truetype'), url('GoodDogPlain.svg#GoodDogPlain') format('svg');
  font-weight: normal;
  font-style: normal;
}
