<footer>
    <div class="container">
        <!--location-->
        <div class="location">
          <div class="footer-weblogo">
            <a href="#">
              <img src="img/footer-logo.png" alt="Belo Baby">
            </a>
          </div>
          <div class="title">Intelligent Skin Care, Incorporated.</div>
          <div class="line">Contact Us: +00-000-000</div>
          <div class="line">Email Address: username@domain.com</div>
          <div class="line">Office Address: Corporate Center, Corporate City</div>
        </div>
        <!--feedback-->
        <div class="feedback">
            <div class="title">Send us your feedback!</div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <!-- <div class="line">Lorem ipsum dolor sit amet, consecteur adispicing elit.</div> -->
            <div class="typeform-holder">
              <!-- put typeform here -->
              <form class="type-form" id="typeform-footer">
                  <ul>
                      <li>
                          <input type="text" placeholder="Please tell us your name" data-error="Oops! Please input your first name to continue" name="name" class="f-required" tabindex="-1">
                      </li>
                      <li class="item">
                          <input type="text" data-error="Oops! Please input your email to continue" placeholder="What is your email address" name="email" class="f-required f-email" tabindex="-1">
                      </li>
                      <li class="item">
                          <input type="text" data-error="Oops! Please input your contact number to continue" placeholder="What is your contact number?" name="contact" class="f-required" maxlength="11" tabindex="-1">
                      </li>
                      <li class="item">
                          <input type="text" name="address" placeholder="What is your address?" data-error="Oops! Please input your address to continue" class="f-required" tabindex="-1">
                      </li>
                      <li class="item">
                          <input type="text" placeholder="Subject" data-error="Oops! Please enter a subject to continue" name="subject" class="f-required" tabindex="-1">
                      </li>
                      <li class="item">
                          <textarea data-error="Oops! Please enter your message to continue" name="message" placeholder="Message" class="f-required" id="tteesstt" tabindex="-1"></textarea>
                      </li>
                  </ul>
              </form>
              <!-- end typeform -->
              <!-- <button class="btn btn-default type-form-btn" onclick="tform.prev()">BACK </button> -->
              <button class="type-form-btn tform-prev" onclick="tform.prev()"><i class="fa fa-caret-up"></i></button>
              <button class="type-form-btn tform-next" onclick="tform.next()"><i class="fa fa-caret-down"></i></button>
              <!-- put typeform here end -->
            </div>
        </div>

        <!--socialmedia-->
        <div class="socialmedia">
            <div class="title">Get Connected!</div>
            <ul>
                <li><a href="http://www.facebook.com/belobabyph"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/belobabyph"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://instagram.com/belobabyph"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="block-footer">
      <em>Copyright &copy; 2016. All rights reserved.</em>
    </div>
</footer>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
</script>
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bLazy/blazy.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="/bower_components/owlcarousel/owl-carousel/owl.carousel.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/plugins.js -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="js/main.js"></script>
<script id="dsq-count-scr" src="//belo-baby-official.disqus.com/count.js" async></script>
<!-- endbuild -->

<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
{ (i[r].q=i[r].q||[]).push(arguments)}
,i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-42684485-44', 'auto');
ga('send', 'pageview');
</script>

</body>
