<section id="splash" style="background-color:#fff; background-image: none;">
    <div id="fullpage-carousel" class="owl-carousel owl-theme">
        <div class="item" style="background-image: url('../img/masthead.jpg')"></div>
        <div class="item" style="background-image: url('../img/section-homebg.jpg')"></div>
        <div class="item" style="background-image: url('../img/banner-product-display.png')"></div>
    </div>

    <div class="container">
        <div class="asidewrap">
            <a href="" class="splash-logo">
                <img class="img-responsive" src="img/splash-logo-alt.png" alt="Belo Baby">
            </a>
            <div class="caption">
                <p>
                    Crafted with care for the most delicate skin, for the most meticulous moms.
                </p>
            </div>
        </div>
        <a href="#home" class="scrolldownwrap">
            <span class="scrolldown-arrow"></span>
            <div class="caption desktop">Scroll Down</div>
            <div class="caption mobile">Swipe Up</div>
        </a>
    </div>
</section>
