$icon-font-path: '../fonts/';


/*----- VENDORS-------
----------------------*/

    // bower:scss
    @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
    @import "bower_components/font-awesome/scss/font-awesome.scss";
    // endbower

/*----- FONTS-------
----------------------*/
@import "base/fonts";

/*-----VARIABLES----
-----------------------*/
@import "base/variables";


/*-----MIX-INS AND PLACEHOLDER -------
-----------------------*/
@import "base/mixins";
@import "base/placeholders";


/*-----SPRITES-------
-----------------------*/
@import "base/design-sprites";
@import "base/info-sprites";



/*-----LAYOUTS-------
-----------------------*/
@import "layouts/header";
@import "layouts/footer";
@import "layouts/body";
@import "layouts/splash";


/*-----MODULES-------
-----------------------*/

/*-----GLOBALS--------
--------------------------*/
@import "base/globals";
@import "base/helpers";
@import "base/typeform";

/*-----PAGES-------
-----------------------*/
@import "pages/home";
@import "pages/guarantee";
@import "pages/products-listing";
@import "pages/belobabycare";
@import "pages/belobabybuzz";
@import "pages/belobabyscrapbook";
@import "pages/belobabyscrapbook";

//inner-pages-ph2
@import "pages/inner-belobaby-care";
@import "pages/inner-belobaby-buzz";
@import "pages/inner-articles";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  max-width: 1103px;
  width: 100%;
}
body{
  background-color: #f3e6e6;
  font-family: $linottesemibold;
}

html,
body{
  height: 100%;
  width: 100%;
}
.clearfix {
 clear: both;
}


* {
  // border:1px dotted red;
}
