/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-bubble-1 {
  background-image: url(../img/design-sprites.png);
  background-position: -998px -395px;
  width: 50px;
  height: 50px;
}
.icon-bubble-2 {
  background-image: url(../img/design-sprites.png);
  background-position: -903px -488px;
  width: 76px;
  height: 79px;
}
.icon-bubble-3 {
  background-image: url(../img/design-sprites.png);
  background-position: -945px -75px;
  width: 93px;
  height: 94px;
}
.icon-bubble-4 {
  background-image: url(../img/design-sprites.png);
  background-position: -526px -574px;
  width: 161px;
  height: 163px;
}
.icon-bubble-5 {
  background-image: url(../img/design-sprites.png);
  background-position: -173px -574px;
  width: 170px;
  height: 173px;
}
.icon-bubble-blurred {
  background-image: url(../img/design-sprites.png);
  background-position: -820px -488px;
  width: 78px;
  height: 80px;
}
.icon-candy-1 {
  background-image: url(../img/design-sprites.png);
  background-position: -459px -429px;
  width: 228px;
  height: 83px;
}
.icon-candy-2 {
  background-image: url(../img/design-sprites.png);
  background-position: -820px -205px;
  width: 190px;
  height: 78px;
}
.icon-candy-3 {
  background-image: url(../img/design-sprites.png);
  background-position: -820px 0px;
  width: 229px;
  height: 70px;
}
.icon-cloud-1 {
  background-image: url(../img/design-sprites.png);
  background-position: -230px -429px;
  width: 224px;
  height: 139px;
}
.icon-cloud-2 {
  background-image: url(../img/design-sprites.png);
  background-position: -260px -265px;
  width: 229px;
  height: 143px;
}
.icon-cloud-3 {
  background-image: url(../img/design-sprites.png);
  background-position: 0px -265px;
  width: 255px;
  height: 159px;
}
.icon-cloud-light-1 {
  background-image: url(../img/design-sprites.png);
  background-position: -274px 0px;
  width: 329px;
  height: 204px;
}
.icon-cloud-light-2 {
  background-image: url(../img/design-sprites.png);
  background-position: 0px -429px;
  width: 225px;
  height: 140px;
}
.icon-flower-1 {
  background-image: url(../img/design-sprites.png);
  background-position: -608px 0px;
  width: 207px;
  height: 196px;
}
.icon-flower-2 {
  background-image: url(../img/design-sprites.png);
  background-position: -608px -201px;
  width: 186px;
  height: 177px;
}
.icon-flower-3 {
  background-image: url(../img/design-sprites.png);
  background-position: 0px 0px;
  width: 269px;
  height: 260px;
}
.icon-flower-pale {
  background-image: url(../img/design-sprites.png);
  background-position: 0px -574px;
  width: 168px;
  height: 177px;
}
.icon-heart-crochet {
  background-image: url(../img/design-sprites.png);
  background-position: -820px -573px;
  width: 56px;
  height: 57px;
}
.icon-star-0-1 {
  background-image: url(../img/design-sprites.png);
  background-position: -984px -488px;
  width: 63px;
  height: 60px;
}
.icon-star-0-2 {
  background-image: url(../img/design-sprites.png);
  background-position: -820px -395px;
  width: 84px;
  height: 88px;
}
.icon-star-0-3 {
  background-image: url(../img/design-sprites.png);
  background-position: -881px -573px;
  width: 53px;
  height: 51px;
}
.icon-star-0 {
  background-image: url(../img/design-sprites.png);
  background-position: -939px -573px;
  width: 49px;
  height: 48px;
}
.icon-star-1 {
  background-image: url(../img/design-sprites.png);
  background-position: -993px -573px;
  width: 49px;
  height: 48px;
}
.icon-star-2 {
  background-image: url(../img/design-sprites.png);
  background-position: -909px -395px;
  width: 84px;
  height: 88px;
}
.icon-star-3 {
  background-image: url(../img/design-sprites.png);
  background-position: -932px -288px;
  width: 106px;
  height: 102px;
}
.icon-star-4 {
  background-image: url(../img/design-sprites.png);
  background-position: -820px -75px;
  width: 120px;
  height: 125px;
}
.icon-star-5 {
  background-image: url(../img/design-sprites.png);
  background-position: -348px -574px;
  width: 173px;
  height: 166px;
}
.icon-yellow-flower {
  background-image: url(../img/design-sprites.png);
  background-position: -820px -288px;
  width: 107px;
  height: 102px;
}
