/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}

.clearfix {
    clear: both;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
}

body {}

.flying-icons {
    position: absolute;
    .fly {
        position: absolute;
    }
    .icons-container {
        position: relative;
    }
}

.custom-btn {
    position: relative;
    padding: 8px 18px 6px;
    display: inline-block;
    font-family: $linottesemibold;
    color: #fff;
    font-size: 17px;
    background-color: #f5866c;
    border-radius: 8px;
    box-shadow: 2px 4px 0px #d75435;
    margin-right: 22px;
    outline: transparent;
    &:focus,
    &:hover,
    &:active,
    &:visited {
        color: #fff;
        outline: transparent;
    }
    &:active {
        top: 5px;
        left: 5px;
        box-shadow: none;
    }
}

.btn-yellow {
    @extend .custom-btn;
    color: #bb8a6d;
    box-shadow: 2px 2px 0px #d0a987;
    background: #fdf4d9;
    border-radius: 10px;
    &:active {
        top: 5px;
        left: 5px;
    }
    &:focus,
    &:hover,
    &:active,
    &:visited {
        color: #bb8a6d;
    }
}

.btn-linkout {
    @extend .custom-btn;
    background: #f5866b;
    box-shadow: 2px 2px 0px #be3e20;
    padding: 4px 18px 2px;
    font-size: 15px;
    vertical-align: middle;
    line-height: 26px;
    border-radius: 10px;
    &:active {
        top: 5px;
        left: 5px;
    }
    .icon {
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 500em;
        width: 26px;
        height: 26px;
        line-height: 24px;
        text-align: center;
        padding-top: 2px;
        font-size: 15px;
        vertical-align: middle;
    }
}

.btn-buy-out {
    @extend .custom-btn;
    padding: 0;
    border: 0px;
    line-height: 43px;
    .icon {
        color: #fff;
        display: inline-block;
        line-height: 43px;
        padding: 0 15px;
        border-right: 1px solid #d75435;
    }
    .label {
        font-size: 19px;
        line-height: 43px;
        padding: 0 17px;
        vertical-align: middle;
    }
}

.btn-review {
    @extend .custom-btn;
    color: #d69a9a;
    background-color: #ffdada;
    box-shadow: 2px 3px 0px #e4afaf;
    line-height: 1em;
    font-size: 17px;
    &:focus,
    &:hover,
    &:active,
    &:visited {
        color: #d69a9a;
    }
}

.btn-submit {
    @extend .btn-yellow;
    padding: 10px 81px;
    line-height: 1em;
    font-size: 27px;
}

.btn-success-close-pop {
    @extend .btn-submit;
    background: #d8d8d8;
    color: #fff;
    box-shadow: 2px 3px 0px #aea1a1;
    &:focus,
    &:hover,
    &:active,
    &:visited {
        color: #fff;
    }
}


/* Popups */

.popup-std {
    width: 100%;
    max-width: 1239px;
    margin: 0 auto;
    background: #fff;
    padding: 17px 13px 39px;
    border-radius: 5px;
    position: relative;
    .mfp-close {
        background: #c2b0a1;
        color: #fff;
        top: 26px;
        right: 26px;
        line-height: 28px;
        width: 28px;
        height: 28px;
        border-radius: 5px;
    }
    .popup-outer-container {
        border: 2px dotted $theme-pink;
        padding: 67px 50px 40px;
        position: relative;
    }
    .popup-contents {
        width: 100%;
        margin: 0 auto;
    }
    .form-group {
        margin-bottom: 6px;
    }
    .review-form {
        max-width: 928px;
        .popup-heading {
            margin-bottom: 36px;
            h3 {
                font-family: $introscript, Helvetica, Arial, sans-serif;
                color: $theme-pink;
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                font-size: 41px;
                @media #{$media-phone} {
                    font-size: 33px;
                    margin: 0 -23px;
                }
            }
            @media #{$media-android-tablet-portrait} {
                width: 100%;
                text-align: center;
            }
        }
        .section-title-container {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            &:before {
                @extend .icon-pop-swirl;
                content: " ";
                display: inline-block;
                vertical-align: middle;
            }
            &:after {
                @extend .icon-pop-swirl-2;
                content: " ";
                display: inline-block;
                vertical-align: middle;
            }
            @media #{$media-android-tablet-portrait} {
                margin-bottom: 15px;
            }
        }
        .section-description-container {
            display: inline-block;
            width: 100%;
            max-width: 584px;
            vertical-align: middle;
            font-family: $droidsans, Helvetica, Arial, sans-serif;
            font-size: 15px;
            line-height: 18px;
            @media #{$media-tablet-landscape} {
                max-width: 305px;
            }
        }
        .rate-form {
            width: 100%;
            max-width: 861px;
            input[type=text],
            input[type=password],
            input[type=email],
            textarea {
                border: 1px solid #ecdeb3;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    font-style: italic;
                    color: #bfbfbf;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    font-style: italic;
                    color: #bfbfbf;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    font-style: italic;
                    color: #bfbfbf;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    font-style: italic;
                    color: #bfbfbf;
                }
            }
            .first-group {
                width: 100%;
                max-width: 468px;
                float: left;
                label {
                    max-width: 155px;
                    padding-right: 18px;
                    @media #{$media-android-tablet-portrait} {
                        max-width: 100%;
                        padding: 0;
                        text-align: center;
                    }
                }
                .form-input-container {
                    max-width: 303px;
                }
                @media #{$media-tablet-landscape} {
                    max-width: 100%;
                    float: none;
                    input {
                        width: 48%;
                        display: inline-block;
                    }
                    .form-input-container {
                        max-width: 490px;
                    }
                }
                @media #{$media-android-tablet-portrait} {
                    input {
                        width: 100%;
                        max-width: 240px;
                        display: block;
                        margin: 0 auto;
                    }
                    .form-input-container {
                        max-width: 100%;
                        text-align: center;
                    }
                }
            }
            .second-group {
                width: 100%;
                max-width: 375px;
                float: right;
                label {
                    max-width: 105px;
                    padding-right: 18px;
                }
                .form-input-container {
                    max-width: 252px;
                }
                @media #{$media-tablet-landscape} {
                    max-width: 100%;
                    float: none;
                    margin-bottom: 28px;
                    label {
                        max-width: 151px;
                    }
                    input {
                        display: inline-block;
                    }
                    .form-input-container {
                        max-width: 252px;
                    }
                }
                @media #{$media-android-tablet-portrait} {
                    label {
                        max-width: 100%;
                        text-align: center;
                    }
                    input[type=email] {
                        width: 100%;
                        max-width: 240px;
                    }
                    .form-input-container {
                        display: block;
                        width: 100%;
                        max-width: 260px;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }
            .form-control:focus {
                border-color: #ecdeb3;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(228, 233, 102, 0.6);
            }
            label {
                font-size: 20px;
                vertical-align: top;
                color: #8b4a27;
                width: 100%;
                display: inline-block;
                text-align: right;
            }
            .form-input-container {
                width: 100%;
                display: inline-block;
            }
            .name-container {
                input {
                    margin-bottom: 6px;
                }
            }
            .bday-container {
                .month,
                .day {
                    max-width: 59px;
                    display: inline-block;
                    margin-right: 9px;
                    @media #{$media-android-tablet-portrait} {
                        margin-right: 2px;
                    }
                }
                .year {
                    max-width: 109px;
                    display: inline-block;
                }
            }
        }
        .review-container {
            margin: 0 0 20px;
            label {
                width: 100%;
                max-width: 155px;
                display: inline-block;
                padding-right: 18px;
            }
            .form-input-container {
                display: inline-block;
                max-width: 718px;
            }
            @media #{$media-tablet-landscape} {
                .form-input-container {
                    max-width: 490px;
                }
            }
            @media #{$media-android-tablet-portrait} {
                label {
                    max-width: 100%;
                    text-align: center;
                }
                textarea {
                    width: 100%;
                    max-width: 240px;
                    margin: 0 auto;
                }
                .form-input-container {
                    display: block;
                    width: 100%;
                    max-width: 260px;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
        .rating-container {
            margin: 0 0 40px;
            label {
                display: inline-block;
                width: auto;
                vertical-align: middle;
                margin-right: 12px;
            }
            .rate-container {
                display: inline-block;
                vertical-align: middle;
                @media #{$media-android-tablet-portrait} {
                    display: block;
                }
            }
            .br-widget {
                height: 46px;
                line-height: 46px;
                a {
                    font-size: 47px;
                    &:after {
                        color: #edd2cc;
                    }
                }
                .br-active,
                .br-selected,
                .br-current {
                    &:after {
                        color: $theme-pink;
                    }
                }
            }
        }
        .form-submit-container {
            margin: 0 0 20px;
            @media #{$media-android-tablet-portrait} {
                text-align: center;
                .btn {
                    padding: 10px 65px;
                    margin: 0;
                }
            }
        }
    }
    .form-submit-container {
        position: relative;
        margin-bottom: -25px;
        text-align: center;
    }
}

#review-form {
    .popup-outer-container {
        padding-bottom: 0;
        border: 2px dotted $theme-aqua;
        @media #{$media-tablet-landscape} {
            padding: 67px 13px 13px;
        }
    }
    @media #{$media-tablet-landscape} {
        max-width: 682px;
    }
    @media #{$media-android-tablet-portrait} {
        margin: 0 10px;
        max-width: 100%;
        width: auto;
    }
}

#review-submit-success {
    max-width: 759px;
    padding-bottom: 17px;
    .popup-outer-container {
        border: 3px dotted $theme-aqua;
        @media #{$media-android-tablet-portrait} {
            padding: 67px 10px 40px;
        }
    }
    .popup-contents {
        text-align: center;
    }
    h3 {
        font-size: 67px;
        color: $theme-pink;
        font-family: $introscript, Helvetica, Arial, sans-serif;
        margin-bottom: 24px;
        @media #{$media-android-tablet-portrait} {
            font-size: 45.97px;
        }
    }
    p {
        font-size: 15px;
        font-family: $droidsans, Helvetica, Arial, sans-serif;
        margin-bottom: 59px;
    }
    @media #{$media-tablet-landscape} {
        max-width: 682px;
    }
    @media #{$media-android-tablet-portrait} {
        margin: 0 10px;
        max-width: 100%;
        width: auto;
        .btn {
            padding: 10px 65px;
            margin: 0;
        }
    }
}

#search-popup {
    background-color: $theme-pink;
    max-width: 390px;
    padding: 25px 13px 20px;
    .mfp-close {
        top: 10px;
        right: 10px;
        background: #fff;
        color: $theme-pink;
    }
    .v-popup {
        position: relative;
        @media screen and (max-width: 767px) {}
        .btn-search {
            position: absolute;
            top: 50%;
            right: 0;
            height: 40px;
            width: 40px;
            background-color: $searchColor;
            border-radius: 100%;
            color: #fff;
            font-size: 15px;
            transform: translateY(-50%);
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @media screen and (max-width: 1024px) {}
            @media #{$media-tablet-landscape} {
                position: relative;
                display: none;
                top: initial;
                right: initial;
            }
            @media screen and (max-width: 767px) {}
        }
        .form-item {
            display: block;
            position: relative;
            top: initial;
            right: initial;
            width: 100%;
            padding: 5px 0;
            border-radius: 0;
            box-shadow: none;
            height: auto;
            .desktop-lbl {
                display: block;
                color: #fff;
                font-size: 20px;
                width: auto;
                padding: 0 0 10px;
            }
            input[type="text"] {
                height: 38px;
                width: 90%;
                border-radius: 10px;
                padding: 0 10px;
                outline: none;
                display: inline-block;
                background-color: #cf4625;
                color: #f1d1b0;
                border: thin solid transparent;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    font-style: italic;
                    color: #fff;
                    font-weight: normal;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    font-style: italic;
                    color: #fff;
                    font-weight: normal;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    font-style: italic;
                    color: #fff;
                    font-weight: normal;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    font-style: italic;
                    color: #fff;
                    font-weight: normal;
                }
            }
            button[type="submit"] {
                display: inline-block;
                padding: 9px 0;
                width: 8%;
                text-align: center;
                background-color: transparent;
                border: 0px;
                color: #fff;
            }
            &:before {
                position: absolute;
                top: -22px;
                right: 10%;
                content: '';
                width: 0;
                height: 0;
                border-left: 17px solid transparent;
                border-right: 17px solid transparent;
                border-bottom: 25px solid $lightpink;
                @media screen and (max-width: 1024px) {}
                @media #{$media-tablet-landscape} {
                    content: none;
                }
                @media screen and (max-width: 767px) {}
            }
        }
        .form-item.active {
            display: block;
        }
        //end of seacrh wrap
    }
}


/* initial style */

.icon {
    display: inline-block;
}

.container {
    .bubble-information {
        position: relative;
        z-index: 1;
        margin-top: 280px;
        .title {
            h1 {
                font-size: 50px;
                line-height: 50px;
                color: #f5866c;
                font-family: $introscript;
                margin-bottom: 20px;
                position: relative;
                display: inline-block;
                @media #{$media-phone} {
                    font-size: 31px;
                    line-height: 31px;
                }
                &:after {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 3px;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77e1e0+0,77e1e0+79,7db9e8+100&1+0,1+79,0+100 */
                    background: -moz-linear-gradient(left, rgba(119, 225, 224, 1) 0%, rgba(119, 225, 224, 1) 79%, rgba(125, 185, 232, 0) 100%);
                    /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(119, 225, 224, 1) 0%, rgba(119, 225, 224, 1) 79%, rgba(125, 185, 232, 0) 100%);
                    /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, rgba(119, 225, 224, 1) 0%, rgba(119, 225, 224, 1) 79%, rgba(125, 185, 232, 0) 100%);
                    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    //                    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#77e1e0', endColorstr='#007db9e8', GradientType=1);
                    /* IE6-9 */
                }
            }
            @media #{$media-phone} {
                font-size: 33px;
            }
        }
        .description {
            max-width: 469px;
            min-height: 120px;
            font-size: 16px;
            font-family: $droidsans;
            margin-bottom: 20px;
            @media #{$media-phone} {
                font-size: 15px;
            }
        }
    }
}

.bubble-info-wdecor {
    max-width: 585px;
    width: 100%;
    padding-left: 50px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    .title {
        font-size: 40px;
        font-family: $introscript;
        padding: 25px 0;
        position: relative;
        display: inline-block;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -48px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            background: transparent url(../img/left-swirl.png) center no-repeat;
            width: 48px;
            height: 79px;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -48px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            background: transparent url(../img/right-swirl.png) center no-repeat;
            width: 48px;
            height: 79px;
        }
    }
    .info {
        font-size: 15px;
        font-family: $droidsans;
    }
}

#search-page {
    padding: 184px 0;
    @media #{$media-phone} {
        padding: 150px 0;
    }
}
