/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-caution {
  background-image: url(../img/info-sprites.png);
  background-position: -326px -93px;
  width: 33px;
  height: 29px;
}
.icon-droplets-bottom {
  background-image: url(../img/info-sprites.png);
  background-position: -225px -101px;
  width: 64px;
  height: 65px;
}
.icon-droplets-top {
  background-image: url(../img/info-sprites.png);
  background-position: -111px 0px;
  width: 109px;
  height: 89px;
}
.icon-effectiveness {
  background-image: url(../img/info-sprites.png);
  background-position: -101px -100px;
  width: 96px;
  height: 96px;
}
.icon-flowers-blue {
  background-image: url(../img/info-sprites.png);
  background-position: -212px -201px;
  width: 56px;
  height: 56px;
}
.icon-guarantee-caution {
  background-image: url(../img/info-sprites.png);
  background-position: 0px 0px;
  width: 106px;
  height: 95px;
}
.icon-hand-heart {
  background-image: url(../img/info-sprites.png);
  background-position: -273px -201px;
  width: 46px;
  height: 56px;
}
.icon-heart {
  background-image: url(../img/info-sprites.png);
  background-position: -326px -127px;
  width: 27px;
  height: 26px;
}
.icon-leaf-blue {
  background-image: url(../img/info-sprites.png);
  background-position: -326px 0px;
  width: 49px;
  height: 49px;
}
.icon-leaf {
  background-image: url(../img/info-sprites.png);
  background-position: -326px -54px;
  width: 36px;
  height: 34px;
}
.icon-mildness {
  background-image: url(../img/info-sprites.png);
  background-position: -225px 0px;
  width: 96px;
  height: 96px;
}
.icon-pop-swirl-2 {
  background-image: url(../img/info-sprites.png);
  background-position: -159px -201px;
  width: 48px;
  height: 79px;
}
.icon-pop-swirl-white-2 {
  background-image: url(../img/info-sprites.png);
  background-position: 0px -201px;
  width: 48px;
  height: 79px;
}
.icon-pop-swirl-white {
  background-image: url(../img/info-sprites.png);
  background-position: -53px -201px;
  width: 48px;
  height: 79px;
}
.icon-pop-swirl {
  background-image: url(../img/info-sprites.png);
  background-position: -106px -201px;
  width: 48px;
  height: 79px;
}
.icon-safety {
  background-image: url(../img/info-sprites.png);
  background-position: 0px -100px;
  width: 96px;
  height: 96px;
}
.icon-single-title-dotted {
  background-image: url(../img/info-sprites.png);
  background-position: 0px -285px;
  width: 320px;
  height: 8px;
}
