/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-bubble-1 {
  background-image: url(../img/sprites.png);
  background-position: -453px -260px;
  width: 50px;
  height: 50px;
}
.icon-bubble-2 {
  background-image: url(../img/sprites.png);
  background-position: -432px -177px;
  width: 76px;
  height: 79px;
}
.icon-bubble-3 {
  background-image: url(../img/sprites.png);
  background-position: -226px -569px;
  width: 93px;
  height: 94px;
}
.icon-bubble-4 {
  background-image: url(../img/sprites.png);
  background-position: -173px -403px;
  width: 161px;
  height: 163px;
}
.icon-bubble-5 {
  background-image: url(../img/sprites.png);
  background-position: -540px -196px;
  width: 140px;
  height: 173px;
}
.icon-bubble-blurred {
  background-image: url(../img/sprites.png);
  background-position: -354px -177px;
  width: 78px;
  height: 80px;
}
.icon-camera {
  background-image: url(../img/sprites.png);
  background-position: -611px -403px;
  width: 48px;
  height: 48px;
}
.icon-candy-1 {
  background-image: url(../img/sprites.png);
  background-position: -334px -403px;
  width: 228px;
  height: 83px;
}
.icon-candy-2 {
  background-image: url(../img/sprites.png);
  background-position: -139px -159px;
  width: 190px;
  height: 78px;
}
.icon-candy-3 {
  background-image: url(../img/sprites.png);
  background-position: -334px -486px;
  width: 229px;
  height: 70px;
}
.icon-cloud-1 {
  background-image: url(../img/sprites.png);
  background-position: -229px -260px;
  width: 224px;
  height: 139px;
}
.icon-cloud-2 {
  background-image: url(../img/sprites.png);
  background-position: 0px -260px;
  width: 229px;
  height: 143px;
}
.icon-cloud-3 {
  background-image: url(../img/sprites.png);
  background-position: -139px 0px;
  width: 215px;
  height: 159px;
}
.icon-flower-1 {
  background-image: url(../img/sprites.png);
  background-position: -540px 0px;
  width: 155px;
  height: 196px;
}
.icon-flower-2 {
  background-image: url(../img/sprites.png);
  background-position: -354px 0px;
  width: 186px;
  height: 177px;
}
.icon-flower-3 {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 139px;
  height: 260px;
}
.icon-star-1 {
  background-image: url(../img/sprites.png);
  background-position: -562px -403px;
  width: 49px;
  height: 48px;
}
.icon-star-2 {
  background-image: url(../img/sprites.png);
  background-position: -453px -310px;
  width: 49px;
  height: 48px;
}
.icon-star-3 {
  background-image: url(../img/sprites.png);
  background-position: -120px -569px;
  width: 106px;
  height: 102px;
}
.icon-star-4 {
  background-image: url(../img/sprites.png);
  background-position: 0px -569px;
  width: 120px;
  height: 125px;
}
.icon-star-5 {
  background-image: url(../img/sprites.png);
  background-position: 0px -403px;
  width: 173px;
  height: 166px;
}
