/* typeform */
  .type-form {
    height: 100px;
    position: relative;
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    // font-family: 'open_sansregular';
    font-family: '_sans';
  }
  .type-form ul li.item label {
    display: block;
    max-width: 100%;
    margin-bottom: 8px;


    font-weight: 800;
    color: #fff;
  }
  .type-form ul {
    list-style: none;
    padding: 0;
    margin: -10px 0 0;
    overflow: hidden;
    height: auto;
    position: absolute;
    width: 100%;
    top: 0;
    transition: top;
  }
  .type-form ul li.item.active {
    opacity: 1;
    transition: all 800ms;
    width: 100%;
    padding-top: 20px;
  }

  .type-form ul li.item {
    display: block;
    opacity: .3;
    height: 130px;
    width: 100%;
    padding: 0;

    div.error {
      position: relative;
      margin-top: 8px;
      background-color: #333333;
      color: #ccc7c7;
      padding: 5px;
      width: 250px;
      font-size: 10px;

      &:before{
        content: '';
        border-bottom: solid 7px #333;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        position: absolute;
        top: -7px;
        left: 7px;
      }
    }
  }
  .type-form ul li.item input[type=text] {
    border: solid 1px #060f4e;
    padding: 5px;
    width: 250px;
  }
  .type-form ul li.item input, .type-form ul li.item select, .type-form ul li.item textarea {
    color: #111;
  }
  footer form input {
    height: 30px;
    outline: 0;
    text-indent: 10px;
  }
  .type-form ul li.item textarea {
    border: solid 1px #060f4e;
    padding: 5px;
    width: 250px;
    resize: none;
    height: 30px;
  }
