$navColor: #62717a;
$searchColor: #f5866c;
$lightpink: #ffdad9;
$innerNavColor: #c9955e;
$productTitle: #969696;
$theme-gray: #eaeaea;
$theme-aqua: #20abb9;
$theme-pink: #f68e76;
$theme-light-yellow: #fdf4d9;
$theme-tan: #ab7630;
$linottesemibold: 'linottesemibold';
$droidsans: 'Droid Sans', sans-serif;
$introscript: 'intro_script_rh2_base';
$gooddogplain: 'GoodDogPlain';


/* Ipad landscape and below */
$media-tablet-landscape: "only screen and (max-width : 1024px)";

/* Android Tablets and Below */
$media-android-tablet-landscape: "only screen and (max-width: 1000px)";

/* Ipad portrait and below */
$media-tablet-portrait: "only screen and (max-width : 768px)";


/* Android tablet portrait and below */
$media-android-tablet-portrait: "only screen and (max-width : 640px)";

/* iPhone 4 and below */
$media-phone: "only screen and (max-width : 480px)";
