section#belobabycare {
    position: relative;
    // height: 1770px;
    background-image: url(../img/concrete_seamless_green.png);
    .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 85%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 85%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 85%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
        /* IE6-9 */
    }
}

section#belobabycare {
    .bubble-information .title h1 {
        color: #fdf4d9;
    }
    .btn.custom-btn {
        background-color: #fdf4d9;
        color: #bb8a6d;
        box-shadow: 2px 4px 0px #d0a987;
        &:active {
            top: 5px;
            box-shadow: none;
        }
    }
    .description {
        min-height: 0;
        margin-bottom: 33px;
    }
    .sleepingbaby {
        position: absolute;
        top: 175px;
        z-index: 1;
        right: 170px;
    }
    .container.bottom-pads {
        padding-bottom: 250px;
    }
    .container.article {
        position: relative;
        z-index: 1;
        padding-bottom: 115px;
        .whats-new {
            max-width: 400px;
            width: 100%;
            float: left;
            // border: 1px dashed red;
        }
        .featured-article {
            max-width: 645px;
            width: 100%;
            // border: 1px dashed red;
            float: right;
        }
    }
}

.whats-new .new-items li,
.featured-article .featured-items li {
    display: block;
}

.btn-read-more {
    display: inline-block;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #00a1b1;
    text-decoration: underline;
    font-weight: bold;
}

.whats-new h1,
.featured-article h1 {
    font-size: 26px;
    position: relative;
    display: inline-block;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -197px - 15px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        width: 197px;
        height: 9px;
        background: transparent url(../img/belobabycare-right-ornaments.png) center no-repeat;
    }
}

.whats-new .new-items .item {
    font-family: $droidsans;
    background-color: #fff;
    margin-bottom: 20px;
    .thumb {
        max-width: 400px;
        width: 100%;
        height: 130px;
    }
    .time-ago {
        margin: 0px;
        text-align: right;
        font-style: italic;
    }
    .inner-title {
        font-size: 20px;
        margin: 0 0 10px;
        font-weight: bold;
    }
    .info {
        font-size: 14px;
    }
    .content {
        padding: 10px 20px 20px;
    }
    .content > a {}
    .content > a:hover,
    .content > a:visited,
    .content > a:active,
    .content > a:focus {
        color: #00a1b1;
    }
}

.featured-article .featured-items .item {
    font-family: $droidsans;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 14px;
    padding-left: 175px;
    position: relative;
    .thumb {
        position: absolute;
        top: 14px;
        left: 14px;
        width: 150px;
        height: 110px;
        background-size: cover;
        background-position: center;
    }
    .inner-title {
        font-size: 18px;
        margin: 10px 0 10px;
        font-weight: bold;
    }
    .content > a:hover,
    .content > a:visited,
    .content > a:active,
    .content > a:focus {
        color: #00a1b1;
    }
}
