section#belobabyscrapbook {
    background: transparent url(../img/concrete_seamless.png);

    padding: 100px 0;
    .title-wrap {
        text-align: center;
    }
    .title {
        font-family: $introscript;
        font-size: 50px;
        display: inline-block;
        color: #f5866c;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -400px - 40px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            width: 400px;
            height: 8px;
            background: transparent url(../img/scrapbook-left-ornaments.png) center no-repeat;
            opacity: 0.5;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -400px - 40px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            width: 400px;
            height: 8px;
            background: transparent url(../img/scrapbook-right-ornaments.png) center no-repeat;
            opacity: 0.5;
        }
    }
    .info {
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        margin-bottom: 70px;
    }
}

section#belobabyscrapbook {
    .btnwrap {
        margin-top: 50px;
        text-align: center;
        & > a {
            font-size: 19px;
            background-color: #fdf4d9;
            color: #bb8a6d;
            box-shadow: 2px 4px 0px #d0a987;
            &:active {
                top: 5px;
                box-shadow: none;
            }
        }
    }
}

.aggregate-lists {
    width: 100%;
    position: relative;
    text-align: center;
    li {
        display: inline-block;
        width: 24%;
        margin-left: 0.50%;
        margin-right: 0.50%;
        float: left;
        text-align: center;
    }
    .item {
        display: inline-block;
        max-width: 270px;
        width: 100%;
        height: 340px;
        background-color: #fff;
        box-shadow: 0px 3px 3px #d0d0d0;
        @include x-border-radius(5px);
        margin-bottom: 12px;
        overflow: hidden;
        .thumb {
            height: 276px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .owner {
            padding: 13px;
            text-align: left;
            img {
                height: 30px;
                width: 30px;
                margin-right: 14px;
                vertical-align: middle;
            }
            span {
                color: #7f8187;
                font-size: 12.5px;
                vertical-align: middle;
            }
        }
    }
}
