section#belobabybuzz {
    position: relative;
    height: 771px;
    background-color: #c6a291;
    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
    }
    &:before {
        left: 0;
        width: 541px;
        height: 589px;
        background: transparent url(../img/babybuzz-left-ornaments.png) no-repeat center;
    }
    &:after {
        right: 0;
        width: 486px;
        height: 535px;
        background: transparent url(../img/babybuzz-right-ornaments.png) no-repeat center;
    }
    .topgradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 260px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a57e6d+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(top, rgba(165, 126, 109, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(165, 126, 109, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(165, 126, 109, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a57e6d', endColorstr='#00ffffff', GradientType=0);
        /* IE6-9 */
    }
}

section#belobabybuzz {
    .bubble-information .title h1 {
        color: #fdf4d9;
    }
    .btn.custom-btn {
        background-color: #fdf4d9;
        color: #bb8a6d;
        box-shadow: 2px 4px 0px #d0a987;
        &:active {
            top: 5px;
            box-shadow: none;
        }
    }
    .description {
        min-height: 0;
        margin-bottom: 33px;
    }
    .momandbaby {
        position: absolute;
        bottom: 0;
        z-index: 0;
        right: 27%;
    }
    .qoute {
        max-width: 496px;
        width: 100%;
        font-size: 17px;
        font-style: italic;
        border-left: 1px dashed #fad0ce;
        padding: 17px 0;
        padding-left: 38px;
        margin-bottom: 40px;
        margin-left: 38px;
        font-weight: normal;
        .caption {
            & p:first-child {
                margin-bottom: 20px;
            }
            color: #fad0ce;
        }
    }
}
