#guarantee {
  background: url(../img/section-guarantee.jpg);
  // background-size: cover;
  // width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 115px;

  .container {
      position: relative;
  }
  .bubble-information {
      .title {
        h1 {
          color: #f9f0d8;
        }
      }
      .btnwrap {
          margin-top: 25px;
      }
      .custom-btn {
        background-color: #fdf4d9;
        color: #bb8a6d;
        box-shadow: 2px 4px 0px #d0a987;
        &:focus,
        &:hover,
        &:active,
        &:visited {
            color: #bb8a6d;
        }
        &:active {
            top: 5px;
            box-shadow: none;
        }
      }

    @media #{$media-tablet-portrait} {
      margin-bottom: 460px;
      padding: 0 0 0 80px;
    }

    @media #{$media-phone} {
      padding: 0;
      margin: 120px 0 230px;
    }
  }

  .sleepingbaby {
    right: -170px;
    top: 75px;

    @media #{$media-tablet-landscape} {
      right: -135px;
      top: 65px;
    }

    @media #{$media-tablet-portrait} {
      top: auto;
      bottom: -70px;
      max-width: 700px;
    }

    @media #{$media-phone} {
      right: -90px;
    }
  }

  .cloud-stars-left {
    left: -350px;
    top: 50%;

    .icon-star-0 {
      left: 190px;
      top: -40px;
    }

    .icon-star-0-2 {
      right: -60px;
      top: 0;
    }


    @media #{$media-tablet-portrait} {
      left: -70px;
      top: 63%;
    }

    @media #{$media-phone} {
      left: -244px;
    }
  }


  .cloud-stars-right {

    right: -350px;
    top: 40%;

    .icon-star-0-1 {
      left: -55px;
      top: -40px;
    }

    @media #{$media-tablet-portrait} {
      right: 0;
      top: 20%;
    }

    @media #{$media-phone} {
      top: 52%;
      right: -120px;

      .icon-star-0-1 {
        top: -200px;
        right: 0;
        left: auto;
      }
    }
  }


  .archive {
    .certifiednatural {
      max-width: 130px;

      @media #{$media-phone} {
        max-width: 120px;
      }
    }

    .clinicallyproven {
      max-width: 180px;

      @media #{$media-phone} {
        max-width: 150px;
      }
    }
  }

}

.guarantee-information-box {
  background: url(../img/bath-bg.png);
}

.sleepingbaby {
    position: absolute;
    right: 0;
    z-index: 1;
}

#guarantee-page {
  background: url(../img/section-guarantee.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
  .container {
    padding: 0 0 163px;
    position: relative;


    @media #{$media-phone} {
      padding: 0 0 263px;
    }
  }

  .sleepingbaby {
    @media #{$media-tablet-portrait} {
      bottom: 253px;
    }

    @media #{$media-phone} {
      top: auto;
      bottom: 120px;
      max-width: 700px;
      right: -90px;
    }
  }


  .cloud-stars-left {
    left: -400px;
    top: 30%;

    .icon-star-0 {
      left: 190px;
      top: -40px;
    }

    .icon-star-0-2 {
      right: -60px;
      top: 0;
    }


    @media #{$media-tablet-portrait} {
      left: -70px;
      top: 63%;
    }

    @media #{$media-phone} {
      left: -309px;
    }
  }


  .cloud-stars-right {

    right: -200px;
    top: 40%;

    .icon-star-0-1 {
      left: -55px;
      top: -40px;
    }

    @media #{$media-tablet-portrait} {
      right: 0;
      top: 20%;
    }

    @media #{$media-phone} {
      top: 40%;
      right: -120px;

      .icon-star-0-1 {
        top: -200px;
        right: 0;
        left: auto;
      }

    }
  }

  .bubble-information {
    margin-top: 210px;


    @media #{$media-tablet-portrait} {
      margin-bottom: 460px;
      padding: 0 0 0 80px;
    }

    @media #{$media-phone} {
      padding: 0;
      margin: 155px 0 230px;
    }
  }


  .description {
    max-width: 575px;
    padding: 20px 0 0 40px;
    font-size: 15px;

    @media #{$media-tablet-portrait} {
      max-width: 455px;
    }

    @media #{$media-phone} {
      padding: 20px 15px;
    }
  }

  .bubble-information {
    .title {

      h3 {
        display: inline-block;
        font-size: 40px;
        color: #f9f0d8;
        vertical-align: middle;
        font-family: $introscript;
        margin: 0px;

        @media #{$media-phone} {
          font-size: 30px;
          margin: 0 -10px;
        }
      }

      &:before {
        @extend .icon-pop-swirl-white;
        display: inline-block;
        vertical-align: middle;

        content: " ";
      }


      &:after {
        @extend .icon-pop-swirl-white-2;
        display: inline-block;
        vertical-align: middle;
        content: " ";
        position: relative;
        left: auto;
        bottom: auto;
      }
    }
    .btnwrap {
        margin-top: 25px;
    }
    .custom-btn {
        background-color: #fdf4d9;
        color: #bb8a6d;
        box-shadow: 2px 4px 0px #d0a987;
        &:focus,
        &:hover,
        &:active,
        &:visited {
            color: #bb8a6d;
        }
        &:active {
            top: 5px;
            box-shadow: none;
        }
    }
  }



}


.benefits-photo-area {
  width: 100%;
  max-width: 972px;
  margin:0 auto 66px;


  @media #{$media-tablet-portrait} {
    max-width: 747px;
  }

  .benefit-photo-container {
    float: left;
    width: 41.48606811145511%;

    @media #{$media-tablet-portrait} {
      width: 38.95582329317269%;
    }

    @media #{$media-android-tablet-portrait} {
      width: 100%;
      max-width: 380px;
      margin: 0 auto;
      float: none;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .benefit-details-container {
    float: left;
    background: #fff;
    width: 100% - 41.48606811145511%;
    padding: 35px 43px 29px 40px;
    margin-left: -3px;
    height: 443px;

    @media #{$media-android-tablet-landscape} {
      height: 443px;
      padding: 25px 17px 21px 22px;
    }


    @media #{$media-tablet-portrait} {
      height: auto;
      padding: 22px 17px 21px 22px;
      width: 100% - 38.95582329317269%;
    }

    @media #{$media-android-tablet-portrait} {
      width: 100%;
      max-width: 380px;
      margin: 0 auto;
      height: auto;
      float: none;
    }
  }

  .section-header {
    margin-bottom: 20px;

    h2 {
      color: $theme-pink;
      font-size: 23px;
      margin: 0 0 10px;
    }

    p {
      font-family: $droidsans, Helvetica, Arial, sans-serif;
      font-size: 13px;

      @media #{$media-android-tablet-landscape} {
        font-size: 12px;
      }
    }

    @media #{$media-tablet-landscape} {
      margin-bottom:  16px;
    }

    @media #{$media-android-tablet-portrait} {
      text-align: center;
      margin-bottom: 12px;
    }
  }

  .benefits-elaborated {

    li {
      border-bottom: 2px dotted #fcce6b;
      padding: 10px 0 9px;
    }

    .icon-container {
      display: inline-block;
      width: 90px;
      line-height: 19px;
      text-align: center;
      vertical-align: middle;

      .icon {
        display: inline-block;
      }

      @media #{$media-phone} {
        width: 75px;
      }
    }

    .benefit-description {
      width: 100%;
      max-width: 390px;
      display: inline-block;
      vertical-align: middle;

      p {
        color: #a5a5a5;
        font-size: 12px;
        line-height: 16px;
        font-family: $droidsans, Helvetica, Arial, sans-serif;
        margin: 0;

        @media #{$media-android-tablet-landscape} {
          font-size: 11px;
        }
      }

      @media #{$media-tablet-portrait} {
        max-width: 313px;
      }


      @media #{$media-android-tablet-portrait} {
        max-width: 240px;
      }

      @media #{$media-phone} {
        max-width: 168px;
      }
    }
  }
}

.guarantee-feature {
  text-align: center;
  position: relative;
  margin-top: -140px;
  margin-bottom: 88px;
  // overflow-x: hidden;

  .feature {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 -9px;
  }

  .natural-feature {

  }

  .all-products {

    img {
      max-width: 389px;
      height: auto;
    }

  }

  .proven-feature {

  }


  .cloud-stars-left {
    left: 0;
    top: 50px;
    position: absolute !important;


    .icon-star-0-2 {
      top: -40px;
      right: -50px;
    }

    .icon-star-1 {
      bottom: -85px;
      right: -135px;
    }

    @media #{$media-tablet-landscape} {
      left: -100px;
    }

    @media #{$media-tablet-portrait} {
      display: none;
    }
  }


  .cloud-stars-right {

    right: 0;
    top: 80px;
    position: absolute !important;


    .icon-star-0-3 {
      bottom: -60px;
      left: 30px;
    }


    @media #{$media-tablet-landscape} {
      right: -100px;
    }

    @media #{$media-tablet-portrait} {
      display: none;
    }
  }

  @media #{$media-android-tablet-portrait} {
    .static-group {
      display: none;
    }

    .slide {
      img {
        max-width: 290px;
        height: auto;
      }
    }

    .owl-pagination {
      .owl-page {
        span {
          width: 20px;
          height: 20px;
          background: #fff;
          border: 3px solid #cbcbcb;
          text-align: center;
          line-height: 12px;
          position: relative;
        }
      }

      .active {
        span:after {
          content: " ";
          position: absolute;
          width: 8px;
          height: 8px;
          background: #cbcbcb;
          display: inline-block;
          vertical-align: middle;
          top: 3px;
          left: 3px;
        }
      }
    }
  }

}

.featured-benefits {
  margin-bottom: 87px;

  ul {
    text-align: center;
    max-width: 972px;
    margin: 0 auto;
  }

  li {
    border: 1px solid #d6d6d6;
    background: #fff;
    width: 100%;
    max-width: 311px;
    margin-right: 13px;
    padding: 0 20px 26px;

    @media #{$media-android-tablet-landscape} {
      max-width: 240px;
    }

    @media #{$media-tablet-portrait} {
      max-width: 230px;
    }

    @media #{$media-android-tablet-portrait} {
      max-width: 311px;
      margin: 0 0 65px;
    }

    .benefit-icon {
      text-align: center;
      position: relative;
      margin-top: -45px;
    }

    .icon {
      display: inline-block;
    }

    h3 {
      font-family: $introscript, Helvetica, Arial, sans-serif;
      text-align: center;
      color: $theme-aqua;
      font-size: 40px;
      margin: 0 0 7px;
    }

    p {
      font-size: 13px;
      font-family: $droidsans, Helvetica, Arial, sans-serif;
    }

    &:last-child {
      margin: 0;
    }
  }
}


.harmful-info-details {
  background: url(../img/guarantee-harm-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 81px 0 110px;

  .container {
    max-width: 972px;
    padding: 0;
  }

  .section-header {
    padding-bottom: 45px;
    border-bottom: 3px dotted #464646;

    @media #{$media-android-tablet-landscape} {
      max-width: 728px;
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    @media #{$media-android-tablet-portrait} {
      max-width: 320px;
    }


    .section-icon {
      display: inline-block;
      margin-right: 38px;


      @media #{$media-android-tablet-landscape} {
        display: block;
        text-align: center;

        span {
          display: inline-block;
        }
      }

      @media #{$media-android-tablet-landscape} {
        margin: 0;
      }
    }

    .section-details {
      width: 100%;
      max-width: 730px;
      display: inline-block;


      h3 {
        color: $theme-light-yellow;
        font-size: 25px;
      }

      p {
        color: #fff;
        font-size: 17px;
        font-family: $droidsans;
      }


      @media #{$media-android-tablet-landscape} {
        p {
          padding: 0 22px;
          text-align: left;
        }
      }

      @media #{$media-android-tablet-portrait} {

        p {
          text-align: center;
        }
      }
    }
  }

  .section-chemical-list {
      padding: 34px 0 0;

      h3 {
        color: $theme-light-yellow;
        font-size: 25px;
        text-align: center;
        margin: 0;
      }

      .section-header {
        padding-bottom: 0;
        border-bottom: 0px;
        margin-bottom: 26px;
      }
  }

  .chemicals {


    @media #{$media-android-tablet-landscape} {
      width: 100%;
      max-width: 702px;
      margin: 0 auto;
    }


    @media #{$media-android-tablet-portrait} {
      text-align: center;
    }

    .chemical {
      width: 100%;
      max-width: 321px;
      display: inline-block;
      padding: 0;
      margin-right: 2px;
      margin-bottom: 17px;
      vertical-align: top;

      &:nth-child(3n) {
        margin-right: 0;
      }

      @media #{$media-android-tablet-landscape} {
        max-width: 344px;
        margin-right: 10px;

        &:nth-child(2n) {
          margin-right: 0;
        }

        &:nth-child(3n) {
          margin-right: 10px;
        }


        &:nth-child(6n) {
          margin-right: 0;
        }
      }


      @media #{$media-android-tablet-portrait} {
        width: 100%;
        max-width: 320px;
        margin-right: 0;

        &:nth-child(2n) {
          margin-right: 0;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }


        &:nth-child(6n) {
          margin-right: 0;
        }

        margin: 0 auto 30px;
      }

      h4 {
        font-size: 15.5px;
        padding: 14px 20px 8px;
        line-height: 1em;
        background: #5a4e4e;
        color: $theme-pink;
        margin: 0;
        text-align: center;
      }

      p {
        background: #fff;
        padding: 19px 29px;
        height: 200px;

        @media #{$media-android-tablet-portrait} {
          height: auto;
        }
      }
    }
  }

  .articles-link-out-group {
    .section-header {
      padding-bottom: 0;
      margin-bottom: 35px;
      text-align: center;

      h3 {
        background: #969696;
        display: inline-block;
        padding: 10px;
        color: #efefef;
        font-size: 25px;
        text-align: center;
        position: relative;
        bottom: -35px;
      }

    }

    .link-out-container {
      text-align: center;

      a {
        padding: 8px 45px 6px;
      }
    }
  }

}
