#home {
    background: transparent url(../img/section-homebg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow-x: hidden;

    .container {
        min-height: 775px;
        position: relative;
        z-index: 1;
        .banner-product-display {
          position: absolute;
          bottom: 30px;
          right: 0;
          max-width: 599px;
          height: auto;

          .flowers-left {

            bottom: 276px;
            left: -100px;

            .icon-yellow-flower {
              top: -70px;
              left: 40px;
            }


            @media #{$media-tablet-portrait} {
              bottom: auto;
              top: -330px;
              left: auto;
              right: 200px;

              .icon-yellow-flower {
                top: auto;
                bottom: -348px;
                left: 4px;
              }
            }


            @media #{$media-phone} {
              right: 64px;
            }

          }

          img {
            position: relative;

            @media #{$media-phone} {
              padding: 0 10px;
            }
          }



          @media #{$media-tablet-portrait} {
            max-width: 550px;
            right: 30px;
          }
        }
    }


  .bubble-information {
    @media #{$media-tablet-portrait} {
      margin-bottom: 560px;
      padding: 0 0 0 80px;
    }

    @media #{$media-phone} {
      padding: 0;
      margin: 120px 0 20px;
    }
  }

}

.woodplatform {
    width: 100%;
    background: transparent url(../img/woodplatform.png) no-repeat center;
    height: 228px;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    .tree {
        width: 337px;
        background: transparent url(../img/design-tree.png) no-repeat center;
        height: 361px;
        background-size: cover;
        position: absolute;
        bottom: 82px;
        left: -175px;

        @media #{$media-phone} {
          display: none;
        }
    }
}

.archive {
    vertical-align: middle;
    .certifiednatural {
        margin-right: 10px;
        vertical-align: middle;
        display: inline-block;
    }
    .clinicallyproven {
        vertical-align: middle;
        display: inline-block;
    }
}
