.bg-row {
    position: relative;
    background-color: red;
    min-height: 300px;
    background: transparent url(../img/inner-belobabycarebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 1025px) {
        overflow: hidden;
    }
}

.container.pads {
    position: relative;
    padding: 155px 0;
    @media screen and (max-width: 1025px) {
        padding-left: 50px;
    }
    @media screen and (max-width:480px) {
        height: 724px;
        // border-bottom: 1px solid red;
        padding-left: 0px;
    }
}

.lensflare {
    background: transparent url(../img/inner-belocare-lensflare.png) no-repeat center;
    width: 749px;
    height: 412px;
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-40%);
    -webkit-transform: translateX(-40%);
    -moz-transform: translateX(-40%);
}

section#inner-belobaby-care .bubble-info-wdecor {
    color: #494949;
    .title {
        color: #fff1b2;
        @media screen and (max-width: 769px) {
            margin-left: 50px;
        }
        @media screen and (max-width: 480px) {
            margin: 0;
            display: inline-block;
        }
    }
    @media screen and (max-width:1025px) {
        max-width: 500px;
        width: 100%;
    }
    @media screen and (max-width:769px) {
        max-width: 370px;
        width: 100%;
        padding: 0;
        width: 100%;
        padding-left: 0px;
    }
    @media screen and (max-width: 480px) {
        text-align: center;
        margin-top: 0px;
    }
    .info {
        @media screen and (max-width: 480px) {
            text-align: left;
            padding: 0 15px;
            font-size: 14px;
            text-align: center;
        }
    }
}

section#inner-belobaby-care .sleepingbaby {
    top: 220px;
    right: 10%;
    @media screen and (max-width: 1025px) {
        right: 8%;
    }
    @media screen and (max-width: 769px) {
        right: 3%;
        top: initial;
        bottom: 0;
    }
    @media screen and (max-width: 480px) {
        right: -20px;
        bottom: 50px;
        width: 100%;
    }
}

section#inner-belobaby-care .article {
    background: transparent url(../img/concrete_seamless.png);
}

section#inner-belobaby-care {
    .mobile-row {
        @media screen and (max-width: 480px) {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .second-nav {
        background-color: #f5866c;
        max-width: 840px;
        width: 100%;
        padding: 8px 55px;
        margin: 0 auto;
        display: block;
        position: relative;
        height: 56px;
        margin-top: -28px;
        @media screen and (max-width: 769px) {
            max-width: 610px;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -17px;
            width: 17px;
            height: 56px;
            background: transparent url(../img/second-nav-pillar-left.png) center no-repeat;
            @media screen and (max-width: 480px) {
                background: none;
                right: initial;
                left: initial;
                top: initial;
                bottom: initial;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -17px;
            width: 17px;
            height: 56px;
            background: transparent url(../img/second-nav-pillar-right.png) center no-repeat;
            @media screen and (max-width: 480px) {
                background: none;
                right: initial;
                left: initial;
                top: initial;
                bottom: initial;
            }
        }
        ul li {
            display: inline-block;
            width: 33.333%;
            float: left;
            border-right: 2px dotted #feff90;
            text-align: center;
            vertical-align: bottom;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            a {
                display: inline-block;
                vertical-align: bottom;
                //background-color: #eb5f3f;
                font-size: 22px;
                line-height: 24px;
                font-family: $linottesemibold;
                color: #fff;
                padding: 8px 20px;
                @media screen and (max-width: 769px) {
                    padding: 10px 8px;
                    line-height: 20px;
                    font-size: 20px;
                }
                @include x-border-radius(10px);
                &:active,
                &:hover,
                &:focus,
                &:visited {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        li.active a {
            background-color: #eb5f3f;
            color: #fff0ba !important;
        }
    }
}


/* module */

.section-header {
    font-size: 16px;
    font-family: $droidsans;
    margin-bottom: 30px;
    position: relative;
    @media screen and (max-width: 1025px) {
        max-width: 880px;
        margin: 10px auto 20px;
    }
    @media screen and (max-width: 769px) {
        max-width: 670px;
        width: 100%;
        margin: 10px auto 20px;
    }
    @media screen and (max-width: 480px) {
        padding: 0 15px;
    }
    em {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -506px - 15px;
            background: transparent url(../img/belobabycare-dotted-fade.png) center no-repeat;
            width: 506px;
            height: 5px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            background-position: center;
            @media screen and (max-width: 480px) {
                width: 130px;
                right: -130px - 15px;
                // background: none;
            }
        }
    }
}

.icon-doc {
    position: relative;
    display: inline-block;
    background: transparent url(../img/icon-doc.png) center no-repeat;
    height: 23px;
    width: 23px;
    vertical-align: middle;
}

.icon-vid {
    position: relative;
    display: inline-block;
    background: transparent url(../img/icon-vid.png) center no-repeat;
    height: 17px;
    width: 17px;
    vertical-align: middle;
}

.container.content-post-articles {
    color: #494949;
    padding: 70px 0px 0px;
    @media screen and (max-width: 1025px) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media screen and (max-width: 769px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @media screen and (max-width: 480px) {
        padding: 0;
    }
    .articles {
        position: relative;
        @media screen and (max-width: 769px) {
            text-align: center;
        }
        li {
            position: relative;
            float: left;
            width: 48%;
            display: block;
            background-color: #fff;
            margin-left: 1%;
            margin-right: 1%;
            padding: 20px;
            padding-left: 185px + 20px;
            position: relative;
            min-height: 222px;
            margin-bottom: 2%;
            text-align: left;
            @media screen and (max-width: 769px) {
                max-width: 700px;
                width: 100%;
                padding-left: 274px + 25px;
                height: 290px;
                margin: 0;
                margin-bottom: 30px;
                float: none;
                display: inline-block;
            }
            @media screen and (max-width: 480px) {
                padding: 0px;
                max-width: 290px;
                width: 100%;
                height: auto;
                padding-bottom: 20px;
            }
            .thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 186px;
                height: 222px;
                @media screen and (max-width: 769px) {
                    width: 274px;
                    height: 100%;
                }
                @media screen and (max-width: 480px) {
                    position: relative;
                    top: initial;
                    left: initial;
                    width: 100%;
                    height: 130px;
                }
            }
            .time-ago {
                font-style: italic;
                text-align: right;
                @media screen and (max-width: 480px) {
                    padding: 15px 15px 0;
                }
            }
            .title {
                font-size: 17px;
                color: #5a4e4e;
                @media screen and (max-width: 769px) {
                    font-size: 24px;
                }
                @media screen and (max-width: 480px) {
                    font-size: 18px;
                    padding: 0 15px;
                }
            }
            .desc {
                font-size: 12px;
                margin-bottom: 30px;
                color: #5a4e4e;
                font-family: $droidsans;
                @media screen and (max-width: 769px) {
                    font-size: 17px;
                }
                @media screen and (max-width: 480px) {
                    font-size: 15px;
                    padding: 0 15px;
                }
            }
            .btn-readmore {
                color: #00a1b1;
                font-size: 13px;
                font-family: $droidsans;
                text-decoration: underline;
                @media screen and (max-width: 769px) {
                    font-size: 22px;
                }
                @media screen and (max-width: 480px) {
                    font-size: 16px;
                    padding-left: 15px;
                }
            }
        }
    }
}

.content-post-articles .whitebtn.btnwrap {
    margin: 60px 0 0px;
    text-align: center;
    a {
        background-color: #fff;
        box-shadow: 2px 4px 0px #95c5ca;
        color: #73a3a7;
        font-size: 20px;
        max-width: 214px;
        width: 100%;
        &:active {
            top: 5px;
            box-shadow: none;
        }
    }
}

.container.content-post-videos {
    color: #494949;
    padding: 70px 0px 50px;
    position: relative;
    @media screen and (max-width: 480px) {
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .mobile-row {
        display: block;
        position: relative;
        @media screen and (max-width: 480px) {
            margin-right: -15px;
            margin-left: -15px;
        }
    }
    .videos {
        position: relative;
        display: block;
        @media screen and (max-width: 1025px) {
            padding-left: 60px;
            padding-right: 60px;
        }
        @media screen and (max-width: 769px) {
            padding-left: 50px;
            padding-right: 50px;
        }
        @media screen and (max-width: 480px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        li {
            max-width: 1004px;
            background-color: #fff;
            width: 100%;
            display: block;
            margin: 0 auto;
            margin-bottom: 45px;
            position: relative;
            .videoWrapper,
            .description {
                float: left;
                @media screen and (max-width: 769px) {
                    float: none;
                    max-width: 700px;
                    width: 100%;
                }
            }
            .videoWrapper {
                width: 55%;
                @media screen and (max-width: 769px) {
                    padding-bottom: 47.7%;
                    width: 100%;
                }
                @media screen and (max-width: 769px) {
                    padding-bottom: 56.25%;
                }
            }
            .description {
                width: 45%;
                padding: 43px;
                @media screen and (max-width: 769px) {
                    width: 100%;
                    padding: 30px;
                }
                .title {
                    font-size: 25px;
                    color: #01a2b2;
                    margin-top: 0;
                    @media screen and (max-width: 480px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

section#inner-belobaby-care .search-article {
    width: 100%;
    background: transparent url(../img/babycare-search-articlebg.jpg) center no-repeat;
    padding: 80px 0 100px;
    @media screen and (max-width: 679px) {
        padding: 55px 0 80px;
    }
    .title {
        text-align: center;
        font-size: 45px;
        font-family: $introscript;
        color: #00a1b0;
        margin-bottom: 25px;
        margin-top: 0;
        position: relative;
        @media screen and (max-width: 769px) {
            font-size: 35px;
        }
    }
    .searchwrap {
        text-align: center;
        position: relative;
        margin: 0 auto;
        max-width: 560px;
        width: 100%;
        @media screen and (max-width: 769px) {
            max-width: 470px;
        }
        i.fa {
            position: absolute;
            top: 15px;
            left: 25px;
            font-size: 30px;
            z-index: 1;
            color: #979c88;
            @media screen and (max-width: 480px) {
                left: 15px;
                font-size: 20px;
                top: 30px - 10px;
            }
        }
        input {
            vertical-align: middle;
            height: 60px;
            padding: 23px;
            border: 0;
            outline: 0;
            float: left;
        }
        input[type="text"] {
            width: 72%;
            padding-left: 60px + 15px;
            @media screen and (max-width: 480px) {
                width: 100%;
                margin-bottom: 15px;
                padding-left: 50px;
            }
        }
        input[type="submit"] {
            width: 28%;
            margin-left: -5px;
            background-color: #f5866c;
            border-top-right-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            -webkit-border-bottom-right-radius: 10px;
            -moz-border-bottom-right-radius: 10px;
            border-top-left-radius: 0px;
            -webkit-border-top-left-radius: 0px;
            -moz-border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -moz-border-bottom-left-radius: 0px;
            color: #fff;
            @media screen and (max-width: 480px) {
                float: none;
                margin-bottom: 15px;
                display: inline-block;
                padding: 15px 45px;
                line-height: 16px;
                margin: 0;
                height: auto;
                width: auto;
                border-top-right-radius: 0px;
                -webkit-border-top-right-radius: 0px;
                -moz-border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                -webkit-border-bottom-right-radius: 0px;
                -moz-border-bottom-right-radius: 0px;
                border-top-left-radius: 0px;
                -webkit-border-top-left-radius: 0px;
                -moz-border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                -webkit-border-bottom-left-radius: 0px;
                -moz-border-bottom-left-radius: 0px;
            }
        }
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 27.7%; //56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper object,
.videoWrapper embed,
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
