section#inner-belobaby-buzz .buzzg-row {
    position: relative;
    height: 568px;
    background-color: #c6a291;
    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
    }
    &:before {
        left: 0;
        width: 541px;
        height: 589px;
        background: transparent url(../img/babybuzz-left-ornaments.png) no-repeat center;
    }
    &:after {
        right: 0;
        width: 486px;
        height: 535px;
        background: transparent url(../img/babybuzz-right-ornaments.png) no-repeat center;
    }
    .topgradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 260px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a57e6d+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(top, rgba(165, 126, 109, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(165, 126, 109, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(165, 126, 109, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a57e6d', endColorstr='#00ffffff', GradientType=0);
        /* IE6-9 */
    }
}

section#inner-belobaby-buzz .bubble-info-wdecor {
    margin-top: 210px;
    .info {
        width: 435px;
    }
}

section#inner-belobaby-buzz .momandbaby {
    position: absolute;
    bottom: 0;
    z-index: 0;
    right: 27%;
    width: 260px;
}

section#inner-belobaby-buzz .content {
    // height: 500px;
    background-image: url(../img/concrete_seamless.png);
    padding-bottom: 90px;
}

section#inner-belobaby-buzz .main-content {
    padding-top: 70px;
}

section#inner-belobaby-buzz {
    font-family: $droidsans;
    .movable-row {
        position: relative;
        margin-top: -25px;
        z-index: 2;
    }
    .wms,
    .bs {
        display: inline-block;
        font-size: 22px;
        font-family: $linottesemibold;
        color: #fff;
        padding: 10px 50px;
        background-color: #00a1b0;
        @include x-border-radius(0);
        margin: 0 40px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -17px;
            width: 17px;
            height: 100%;
            background-image: url(../img/btn-normal-left-orn.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -17px;
            width: 17px;
            height: 100%;
            background-image: url(../img/btn-normal-right-orn.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &.active {
            background-color: #77e1e0;
            color: #428e8d;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -17px;
                width: 17px;
                height: 100%;
                background-image: url(../img/btn-active-left-orn.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: -17px;
                width: 17px;
                height: 100%;
                background-image: url(../img/btn-active-right-orn.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &:active,
        &:focus,
        &:visited,
        &:hover {
            text-decoration: none;
        }
    }
    .comment-list li {
        display: block;
        padding: 35px;
        width: 50%;
        float: left;
        margin-bottom: 80px;
        .entry {
            position: relative;
            padding-left: 150px + 15px;
            .imgholder {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 143px;
                height: 143px;
            }
            .caption {
                padding-left: 40px;
                font-size: 20px;
                font-style: italic;
                margin-bottom: 25px;
                position: relative;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 24px;
                    height: 18px;
                }
                &:before {
                    top: 0;
                    left: 0;
                    background-image: url(../img/icon-qoute.png);
                }
                &:after {
                    bottom: 0;
                    right: 0;
                    background-image: url(../img/icon-qoute-r.png);
                }
            }
            .name,
            .position {
                padding-left: 40px;
                font-size: 21px;
                font-family: $linottesemibold;
                color: #969696;
            }
            .position {
                font-size: 18px;
            }
        }
    }
    .comment-list li:nth-child(2n+2) {
        border-left: 2px dotted #9c9c9c;
    }
}
