section#inner-article {
    background-image: url(../img/concrete_seamless.png);
    padding-bottom: 100px;

    @media screen and (max-width: 480px){
        padding-bottom: 70px;
    }

    .row-bg {
        height: 430px;
        width: 100%;
        background-image: url(../img/inner-article-splashbg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 230px;
        box-shadow: 0px 1px 10px #d8d8d8;
        @media screen and (max-width: 1024px) {
            overflow: hidden;
            padding-top: 190px;
        }
        @media screen and (max-width:769px) {
            height: 560px;
            position: relative;
            padding-top: 160px;
        }
        @media screen and (max-width:480px) {
            height: 380px + 50px;
            padding-top: 140px;
        }
    }
}

section#inner-article .sleepingbaby {
    top: 60px;
    right: 18%;
    @media screen and (max-width: 1024px) {
        right: 0;
    }
    @media screen and (max-width: 769px) {
        top: initial;
        bottom: -45px;
    }
    @media screen and (max-width: 480px) {
        position: absolute;
        width: 393px;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
    }
}

section#inner-article .content {
    padding: 55px 55px 0;
    background-color: #fff;
    margin-top: 35px;
    position: relative;
    font-size: 14px;
    font-family: $droidsans;
    @media screen and (max-width: 1024px) {
        width: 95%;
    }
    @media screen and (max-width: 769px) {
        padding: 30px;
    }
    @media screen and (max-width: 480px) {
        width: 100%;
        padding: 20px 15px;
        margin-top: 90px;
    }
    .tags {
        margin-bottom: 35px;
        .lbl {
            font-size: 12px;
            font-family: $linottesemibold;
            color: #f5856c;
        }
        .pertag {
            display: inline-block;
        }
        .pertag li {
            color: #733c2f;
            font-size: 11px;
            display: inline-block;
        }
        .pertag li:after {
            content: ',';
        }
        .pertag li:last-child:after {
            content: '';
        }
        .icon-tags {
            margin-right: 10px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url(../img/icon-tag.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
        }
    }
    .social-share {
        position: absolute;
        top: 55px;
        right: 55px;
        @media screen and (max-width: 480px) {
            top: -40px;
            right: 15px;
        }
        .btn-fb,
        .btn-tw {
            margin: 0 1px;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: #fcc;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            position: relative;
            i {
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .btn-fb {
            background-color: #1670c5;
        }
        .btn-tw {
            background-color: #39a0dc;
        }
    }
    //box
    .box {
        padding-bottom: 35px;
        border-bottom: 1px dashed #ffb5d3;
    }
    .title {
        font-family: $linottesemibold;
        font-size: 27px;
        color: #00a1b1;
        @media screen and (max-width: 480px) {
            font-size: 18px;
        }
    }
    .desc {
        margin-bottom: 23px;
    }
    .post-date {
        font-style: italic;
        margin-bottom: 23px;
    }
    .inner-box {
        font-size: 12px;
        margin-bottom: 23px;
        .col-left {
            padding-right: 15px;
            @media screen and (max-width:480px){
                margin-bottom: 15px;
            }
        }
        .col-right {
            ul,
            ol {
                padding-left: 2.5em;
            }
        }
        .col-left,
        .col-right {
            float: left;
            width: 50%;
            @media screen and (max-width: 480px) {
                float: none;
                width: 100%;
                padding: 0;
            }
        }
    }
    .sub-desc {
        font-size: 12px;
    }
    .suggested {
        padding: 35px 0;
        .key-product,
        .others {
            float: left;
            @media screen and (max-width: 480px) {
                float: none;
                margin-bottom: 50px;
            }
            .title {
                vertical-align: middle;
                font-family: $introscript;
                font-size: 21px;
                color: #5a4e4e;
                margin-top: 0;
                .icon-suggested-kp,
                .icon-suggested-others {
                    width: 24px;
                    height: 27px;
                    display: inline-block;
                    margin-right: 5px;
                }
                .icon-suggested-kp {
                    background-image: url(../img/icon-suggested-kp.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    vertical-align: middle;
                }
                .icon-suggested-others {
                    background-image: url(../img/icon-suggested-others.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    vertical-align: middle;
                }
            }
        }
        .key-product {
            width: 24%;
            margin-right: 2%;
            @media screen and (max-width: 769px) {
                width: 30%;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                text-align: center;
            }
            .wrapper {
                text-align: center;
                img {
                    display: inline-block;
                }
            }
        }
        .others {
            width: 74%;
            @media screen and (max-width: 769px) {
                width: 68%;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                text-align: center;
            }
            /* carousel modification */
            .owl-theme .owl-controls .owl-page span {
                border: 1px solid #ccd1d2;
                background-color: #fff;
                position: relative;
            }
            .owl-theme .owl-controls .owl-page.active span {
                &:before {
                    position: absolute;
                    content: '';
                    height: 7px;
                    width: 7px;
                    background-color: #ccd1d2;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
        .mobile-row {
            @media screen and (max-width: 480px) {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
        #carousel-might-like {
            padding: 20px 20px 34px;
            background-color: #fff9e6;
            border: 1px solid #f2eddd;
            @media screen and (max-width: 769px) {
                padding-bottom: 15px;
            }
            .item {
                text-align: center;
                border-right: 1px dashed #e0d8be;
                padding: 0 10px;
                width: 100%;
                display: block;
                img.img-responsive {
                    border: 2px solid #f2eddd;
                    display: inline-block;
                }
                .short-desc {
                    font-size: 12px;
                }
            }
        }
    }
}

#carousel-might-like .owl-item:last-child .item {
    border-right: 0 !important;
}

section#inner-article .comment {
    margin-top: 35px;
    padding: 35px;
    background-color: #fff;
    @media screen and (max-width: 1024px) {
        width: 95%;
    }
    @media screen and (max-width: 480px) {
        padding: 0;
        width: 100%;
    }
    .headerwrap {
        text-align: center;

         @media screen and (max-width: 480px) {
            padding-top: 35px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .inlinerow {
            margin-top: 35px;
            position: relative;
            padding: 10px;
            border-top: 1px dashed #8a8a8a;
        }
        .movablerow {
            margin-top: -15px;
        }
        .big-title {
            position: relative;
            margin: 0;
            font-size: 20px;
            font-family: $linottesemibold;
            padding: 12px 20px;
            display: inline-block;
            background-color: #fff;
            margin-top: -30px;
            color: #8a8a8a;
        }
    }
    .disqusWrapper {
        padding: 50px;
    }
}

.bubble-info-center {
    position: relative;
    z-index: 2;
    max-width: 510px;
    width: 100%;
    @media screen and (max-width: 769px) {
        margin: 0 auto;
        max-width: 430px;
    }
    .title {
        font-size: 40px;
        font-family: $introscript;
        color: #21adbb;
    }
    .info {
        font-size: 14px;
        font-family: $droidsans;
        @media screen and (max-width: 480px) {
            display: none;
        }
    }
}
