#innerbathandbody {
  position: relative;
  overflow-x: hidden;

  .container {
      min-height: 770px;
      position: relative;
      z-index: 1;
      .product-group-photo {
          position: absolute;
          display: block;
          bottom: 65px;
          right: 0;
          width: 100%;
          max-width: 444px;
          height: auto;

        @media #{$media-tablet-portrait} {
          max-width: 100%;
          text-align: center;

          img {
            display: inline-block;
          }
        }
      }
  }
  .woodplatform {
      width: 100%;
      background: transparent url(../img/woodplatform.png) center no-repeat;
      height: 228px;
      background-size: cover;
      position: absolute;
      left: 0;
      bottom: 0;
  }
}

.listing-intro-section {
  background: url(../img/bath-header-bg.jpg) center center no-repeat;
  background-size: cover;

    .bubble-information {
      .title {
          font-size: 70px;
          color: #00a1b1;
          font-family: $introscript;
          &:after {
              content: none;
          }
      }

      .subtitle {
          max-width: 380px;
          width: 100%;
          font-size: 28px;
          line-height: 28px;
          font-family: $gooddogplain;
          color: #f5866c;
          text-shadow: none;
          margin-bottom: 20px;
      }

      @media #{$media-tablet-portrait} {
        margin-bottom: 546px;
        margin-top: 240px;

        .title, .subtitle, .description {
          text-align: center;
          max-width: 100%;
        }

        .description {
          max-width:642px;
          margin: 0 auto;
          text-align: left;
        }
      }

      @media #{$media-phone} {
        margin-bottom: 380px;
        margin-top: 190px;

        .title {
          font-size: 55px;
        }

        .subtitle {
          font-size: 25px;
          max-width: 290px;
          margin: 0 auto 20px;
        }
      }
    }

  @media #{$media-tablet-portrait} {
    background-position: center right;
  }
}

.products-listing {
  background: url(../img/bath-bg.png);
  padding: 184px 0;
  overflow: hidden;

  @media #{$media-tablet-portrait} {
    padding: 0;
  }
}

.products-list {
  .product {
    position: relative;
    margin-bottom: 60px;

    @media #{$media-tablet-portrait} {
      margin: 0 -15px;

      &:before {
        content: " ";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 270px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5c9cd+0,7db9e8+100&0.54+0,0+100 */
        background: -moz-linear-gradient(top,  rgba(181,201,205,0.54) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(181,201,205,0.54) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(181,201,205,0.54) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ab5c9cd', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
      }
    }
  }

  .product-photo-container {
    width: 100%;
    max-width: 458px;
    position: relative;
    z-index: 2;
    float: left;
    outline: none;

    @media #{$media-tablet-portrait} {
      width: 46.875%;
      max-width: 100%;
    }

    @media #{$media-phone} {
      width: 100%;
      text-align: center;
      float: none;
      overflow: hidden;

      img {
        display: inline-block;
        margin: -30px 0 -19px;
      }


    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .product-details-container {
    float: right;
    width: 100%;
    position: relative;
    z-index: 2;
    max-width: 580px;
    padding: 115px 0 0 70px ;

    @media #{$media-tablet-landscape} {
      max-width: 534px;
    }


    @media #{$media-tablet-portrait} {
      width: 100% - 46.875%;
      max-width: auto;
      padding-left: 47px;
    }

    @media #{$media-phone} {
      width: 100%;
      text-align: center;
      padding: 68px 0 38px;
    }
  }

  .product-title {
    margin-bottom: 5px;

    h2 {
      a {
        color: $productTitle;
        font-family: $introscript, Helvetica, Arial, sans-serif;
        font-size: 40px;
        line-height: 40px;
        display: inline-block;
        padding-right: 40px;
        text-decoration: none;
      }

      &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 3px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77e1e0+0,77e1e0+79,7db9e8+100&1+0,1+79,0+100 */
        background: -moz-linear-gradient(left,  rgba(119,225,224,1) 0%, rgba(119,225,224,1) 79%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(119,225,224,1) 0%,rgba(119,225,224,1) 79%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(119,225,224,1) 0%,rgba(119,225,224,1) 79%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77e1e0', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */


      }


      @media #{$media-phone} {
        padding: 0;
        height: auto;
        line-height: 20px;

        &:after {
          display: inline-block;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5c9cd+0,77e1e0+50,7db9e8+100&0+0,1+50,0+100 */
          background: -moz-linear-gradient(left,  rgba(181,201,205,0) 0%, rgba(119,225,224,1) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left,  rgba(181,201,205,0) 0%,rgba(119,225,224,1) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right,  rgba(181,201,205,0) 0%,rgba(119,225,224,1) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5c9cd', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
        }
      }

    }
  }

  .product-description {
    margin: 0 0 55px;
    font-size: 19px;
    font-family: $droidsans, Helvetica, Arial, sans-serif;


    @media #{$media-tablet-portrait} {
      padding-right: 35px;
    }

    @media #{$media-phone} {
      padding: 0 15px;
      font-size: 17px;
    }
  }

  .product-action-links {
    a {
      margin-bottom: 15px;
    }

    .btn-linkout {
      text-transform: uppercase;
    }
  }
}


.product-single {
  @extend .products-listing;

}

.product-single-details {
  @media #{$media-tablet-portrait} {
    padding-top: 221px;
  }

  @media #{$media-phone} {
    padding-top: 120px;
  }
}

.product-single-header {
  text-align: center;
  margin: 0 0 60px;

  h1 {
    display: inline-block;
    font-family: $introscript, Helvetica, Arial, sans-serif;
    font-size: 70px;
    color: $theme-aqua;
    position: relative;
    vertical-align: middle;

    &:before {
      @extend .icon-single-title-dotted;
      content: " ";
      display: block;
      position: absolute;
      vertical-align: middle;
      left: -350px;
      top: 34px;
      transform: rotate(180deg);
    }

    &:after {
      content: " ";
      @extend .icon-single-title-dotted;
      display: block;
      position: absolute;
      vertical-align: middle;
      right: -350px;
      top: 34px;
    }

    @media #{$media-tablet-portrait} {
      font-size: 48px;
      margin-bottom: 30px;

      &:after, &:before {
        top: 22px;
      }
    }

    @media #{$media-phone} {
      font-size: 38px;
      display: block;
      padding: 0 20px;

      &:before {
        top: 31px;
        left: -280px;
        transform: none;
      }

      &:after {
        top: 31px;
        right: -280px
      }
    }
  }

  p {
    font-family: $droidsans, Helvetica, Arial, sans-serif;
    font-size: 20px;

    @media #{$media-tablet-portrait} {
      font-size: 19px;
      max-width: 634px;
      margin: 0 auto;
      text-align: left;
    }

    @media #{$media-phone} {
      font-size: 17px;
      text-align: center;
    }
  }
}

.product-single-photo-area {
  margin-bottom: 66px;

  .product-photo-container {
    float: left;
    width: 42.68406337371855%;

    @media #{$media-tablet-portrait} {
      width: 40.37854889589905%;
      overflow: hidden;
      text-align: center;

      img {
        display: inline-block;
        position: relative;
        margin: -149px -60px 0;
      }
    }

    @media #{$media-phone} {
      width: 100%;

      img {
        margin: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  .guarantee-share-container {
    float: right;
    background: #fff;
    width: 100% - 42.68406337371855%;
    padding: 15px 15px 25px;

    .inner-container {
      border: 2px dotted $theme-pink;
      padding: 7px 8px;
      position: relative;
    }

    @media #{$media-tablet-portrait} {
      width: 100 - 40.37854889589905%;
    }

    @media #{$media-phone} {
      width: 100%;

      img {
        margin: 0;
      }
    }
  }

  @media #{$media-tablet-portrait} {
    width: 100%;
    max-width: 634px;
    margin: 0 auto 42px;
  }
}

.share-section {
  text-align: right;

  span {
    color: $theme-aqua;
    display: inline-block;
    vertical-align: middle;
    font-size: 13.5px;
    margin-right: 10px;

    @media #{$media-phone} {
      font-size: 11.5px;
    }
  }

  .social-share {
    display: inline-block;
    vertical-align: middle;

    a {
      color: #fff;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 35px;
      background: #c3c3c3;
      border-radius: 500em;
      text-align: center;
      vertical-align: middle;
      font-size: 15px;
      margin: 0 5px;

      @media #{$media-phone} {
        margin: 0 1px;
      }
    }

    .a2a_button_facebook {
      &:hover {
        background: #3b5998;
      }
    }


    .a2a_button_twitter {
      &:hover {
        background: #55acee;
      }
    }

    .a2a_button_pinterest {
      &:hover {
        background: #cb2027;
      }
    }

    .a2a_button_google_plus {
      &:hover {
        background: #dd4b39;
      }
    }
  }
}

.guarantee-section {
  text-align: center;
  padding: 60px 0 24px;

  h3 {
    font-size: 40px;
    font-family: $introscript, Helvetica, Arial, sans-serif;
    color: $theme-pink;
  }

  p {
    font-family: $droidsans, Helvetica, Arial, sans-serif;
    font-size: 19px;
    margin-bottom: 20px;
  }

  @media #{$media-tablet-portrait} {
    padding-top: 57px;

    h3 {
      margin-top: 0;
    }
  }

  @media #{$media-phone} {

    h3 {
      font-size: 36px;
    }

    p {
      font-size: 15px;
    }
  }
}


.price-section {
  text-align: center;
  font-size: 35px;
  color: $productTitle;
  text-decoration: underline;
  margin-bottom: 37px;
}

.action-section {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -18px;
}

.comparison {
  margin-bottom: 70px;

  table {
    width: 100%;
    position: relative;
    z-index: 2;
  }


  &:after {
    content: " ";
    display: block;
    height: 13px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5866c+0,fac0ab+50,f5866c+100 */
    background: rgb(245,134,108); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(245,134,108,1) 0%, rgba(250,192,171,1) 50%, rgba(245,134,108,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(245,134,108,1) 0%,rgba(250,192,171,1) 50%,rgba(245,134,108,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(245,134,108,1) 0%,rgba(250,192,171,1) 50%,rgba(245,134,108,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5866c', endColorstr='#f5866c',GradientType=1 ); /* IE6-9 */
    width: 100%;
  }

  .table-container {
    background: #fff;
  }

  .comparison-header {
    background-color: $searchColor;

    .icon {
      display: inline-block;
      vertical-align: middle;
    }
    .icon-container {
      background: $theme-light-yellow;
      display: block;
      float: left;
      width: 66px;
      height: 51px;
      line-height: 51px;
      text-align: center;
    }

    h3 {
      font-family: $introscript, Helvetica, Arial, sans-serif;
      line-height: 51px;
      vertical-align: middle;
      margin: 0;
      padding: 0 0 0 10px;
      font-size: 25px;
      color: $theme-light-yellow;
      float: left;

      @media #{$media-phone} {
        font-size: 18px;
      }
    }
  }

  @media #{$media-tablet-portrait} {
    max-width: 634px;
    margin: 0 auto;
  }

  @media #{$media-phone} {
    .b-other {
      display: none;
    }
  }
}

.ingredient-comparison-cols {
  thead {
    td {
      line-height: 35px;
    }
  }


  td {
    min-width: 89px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;

    i {
      color: $theme-pink;
      font-size: 21px;
      margin-top: 10px;
      margin: 6px 0;
    }

    @media #{$media-phone} {
      min-width: 99px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $theme-gray;
    }

    td {
      height: 30px;
      padding: 3px 0;
      line-height: 18px;
    }

    td:first-child {
      text-align: left;
      padding-left: 32px;


      @media #{$media-phone} {
        padding-left: 5px;
      }
    }
  }


  .comparison {
    width: 100%;
    max-width: 508px;

    @media #{$media-tablet-landscape} {
      width: 50%;
      max-width: 508px;
      padding: 10px;
    }

    @media #{$media-tablet-portrait} {
      width: 100%;
      padding: 0;
      max-width: 100%;
      margin-bottom: 72px;
    }
  }

  .natural-comparison {
    float: left;

    &:after {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a1b1+0,93d8c8+50,00a1b1+100 */
      background: rgb(0,161,177); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(0,161,177,1) 0%, rgba(147,216,200,1) 50%, rgba(0,161,177,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(0,161,177,1) 0%,rgba(147,216,200,1) 50%,rgba(0,161,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(0,161,177,1) 0%,rgba(147,216,200,1) 50%,rgba(0,161,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a1b1', endColorstr='#00a1b1',GradientType=1 ); /* IE6-9 */

    }

    .table-container {
      padding: 0 9px;
      position: relative;

      &:before {
        content: " ";
        background-color: $theme-light-yellow;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 35px;
        z-index: 1;
      }
    }

    thead {
      font-size: 13px;
      color: $theme-tan;
      background: $theme-light-yellow;

      .fa {
        display: none;
      }

      @media #{$media-phone} {
        .fa {
          display: inline-block;
          vertical-align: middle;
          color: #d7caa3;
        }

        .b-current {
          .fa {
            margin-left: 5px;
          }
        }

        .b-other {
          .fa {
            margin-right: 5px;
          }
        }
      }
    }

    tbody {
      font-size: 12px;
    }

    .comparison-header {
      background: $theme-aqua;
    }

    .icon-container {
      background: $theme-light-yellow;
      height: 42px;
      line-height: 42px;
    }

    h3 {
      font-size: 19px;
      height: 42px;
      line-height: 42px;

      @media #{$media-phone} {
        font-size: 18px;
      }
    }
  }

  .harmful-comparison {
    float: right;

    &:after {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a4e4e+0,bbb799+50,5a4e4e+100 */
      background: rgb(90,78,78); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(90,78,78,1) 0%, rgba(187,183,153,1) 50%, rgba(90,78,78,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(90,78,78,1) 0%,rgba(187,183,153,1) 50%,rgba(90,78,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(90,78,78,1) 0%,rgba(187,183,153,1) 50%,rgba(90,78,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4e4e', endColorstr='#5a4e4e',GradientType=1 ); /* IE6-9 */
    }

    .table-container {
      padding: 0 9px;
      position: relative;

      &:before {
        content: " ";
        background-color: #5a4e4e;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 35px;
        z-index: 1;
      }
    }


    tbody {
      font-size: 12px;
    }

    thead {
      font-size: 13px;
      color: $theme-light-yellow;
      background: #5a4e4e;

      .fa {
        display: none;
      }

      @media #{$media-phone} {
        .fa {
          display: inline-block;
          vertical-align: middle;
          color: #222222;
        }

        .b-current {
          .fa {
            margin-left: 5px;
          }
        }

        .b-other {
          .fa {
            margin-right: 5px;
          }
        }
      }
    }

    .comparison-header {
      background: $productTitle;
    }

    .icon-container {
      background: #5a4e4e;
      height: 42px;
      line-height: 42px;
    }


    h3 {
      font-size: 19px;
      height: 42px;
      line-height: 42px;

      @media #{$media-phone} {
        font-size: 18px;
      }
    }
  }


  @media #{$media-tablet-portrait} {
    max-width: 634px;
    margin: 0 auto 72px;
  }

}

.main-ingredient-list {
  .table-container {
    padding: 15px 30px;

    @media #{$media-phone} {
      padding: 15px 7px;
    }
  }

  p {
      font-family: $droidsans, Helvetica, Arial, sans-serif;
      font-size: 15px;
      margin: 0;
      padding: 9px 30px;
      border-bottom: 1px solid $theme-gray;

      @media #{$media-phone} {
        padding: 9px 5px;
      }
  }

  tbody {

    tr {
      border-bottom: 1px solid $theme-gray;
    }

    td {
      font-family: $droidsans, Helvetica, Arial, sans-serif;
      font-size: 15px;
      padding: 9px 30px;

      @media #{$media-phone} {
        padding: 9px 5px;
      }
    }
  }

  @media #{$media-tablet-portrait} {
    margin-bottom: 72px;
  }
}

.ingredient-comparison-container {
  > .section-header {
    margin-bottom: 37px;

    h3 {
      color: $theme-aqua;
      font-size: 25px;
      margin-bottom: 10px;
    }

    p {
      font-size: 17px;
    }

    @media #{$media-tablet-portrait} {
      max-width: 634px;
      margin: 0 auto 40px;
    }
  }
}

.product-ratings-container {

  > .section-header {
    margin-bottom: 37px;

    h3 {
      color: $theme-aqua;
      font-size: 25px;
      margin-bottom: 10px;
    }

    .section-description {
      font-size: 16px;
      font-family: $droidsans, Helvetica, Arial, sans-serif;
    }
  }


  @media #{$media-tablet-portrait} {
    max-width: 634px;
    margin: 0 auto;

    padding-bottom: 50px;
  }

}

.section-avg-rating-trigger {
  .avg-rating {
    display: inline-block;
    padding: 0 97px 0 0;

    @media #{$media-phone} {
      padding: 0;
    }
  }

  .avg-rating-stars {
    display: inline-block;
    font-size: 23px;
    color: #edd2cc;
    margin-right: 10px;

    .active {
      color: $theme-pink;
    }

    i {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .avg-rating-description {
    display: inline-block;
    color: $theme-aqua;
    font-size: 18px;

    p {
      vertical-align: middle;
    }

    span {
      color: $theme-pink;
    }
  }

  .section-action {
    display: inline-block;
    line-height: 48px;
    border-left: 1px solid #c3c3c3;
    padding-left: 34px;
    vertical-align: middle;

    @media #{$media-tablet-landscape} {
      display: block;
      text-align: center;
      border: 0px;
      border-bottom: 3px dotted $productTitle;
      padding: 34px 0 52px;
    }
  }
}

.ratings-list-container {
  .rating {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 0 35px 50px;
    float: left;
    margin: 0 60px;

    @media #{$media-tablet-landscape} {
      max-width: 100%;
      padding: 30px 35px;
      margin: 0;
      border-bottom: 2px dotted $productTitle;
    }
  }

  .rating-description {
    position: relative;
    font-family: $droidsans;
    margin-bottom: 10px;

    p {
      font-size: 16px;
      font-style: italic;
    }

    &:before {
      content: '“';
      color: #888888;
      position: absolute;
      font-size: 58px;
      font-family: $linottesemibold, Helvetica, Arial, sans-serif;
      top: -9px;
      left: -30px;
      height: 20px;
    }

    &:after {
      content: '”';
      color: #888888;
      font-family: $linottesemibold, Helvetica, Arial, sans-serif;
      position: absolute;
      font-size: 58px;
      font-family: $linottesemibold, Helvetica, Arial, sans-serif;
      bottom: 0;
      right: -25px;
      height: 20px;
      vertical-align: top;
    }
  }

  .rating-score {
    margin-bottom: 10px;

    .rating-score-description {
      display: inline-block;
      font-size: 14px;
      color: $theme-aqua;
      vertical-align: middle;
    }

    .rating-stars {
      display: inline-block;
      font-size: 18px;
      color: #edd2cc;
      vertical-align: middle;
      margin-right: 10px;

      .active {
        color: $theme-pink;
      }
    }
  }

  .rating-author {
    color: #c3c3c3;
    font-size: 16px;
    height: 40px;
  }
}


.bubbles-left-1 {
  top: -85px;
  left: -100px;
}

.bubbles-right-1 {
    bottom: 90px;
    right: 0;

    .icon-bubble-1 {
      top: -60px;
      left: -60px;
    }
}


.bubbles-left-2 {
  bottom: 250px;
  left: -100px;

  .icon-bubble-3 {
    top: -135px;
    left: -135px;
  }
}

.flowers-left-1 {
  top: 0;
  left: -270px;

}

.flowers-left-2 {
  bottom: 100px;
  left: -101px;
}

.flowers-right {
  top: 0;
  right: -100px;
}

.stars-left-1 {
  bottom: 173px;
  left: -173px;

  .icon-star-1 {
    bottom: -200px;
    left: -40px;
  }

  .icon-star-4 {
    top: -100px;
    left: -125px;
  }
}

.stars-right-1 {
  bottom: 0;
  right: 0;

  .icon-star-2 {
    top: -160px;
    left: -150px;
  }
}

.candies-left-1 {
  bottom: 173px;
  left: -173px;

  .icon-candy-1 {
    bottom: -100px;
    left: 45px;
  }

  .icon-candy-2 {
    bottom: -200px;
    left: -125px;
  }
}

.candies-right-1 {
  bottom: 0;
  right: 0;

  .icon-star-2 {
    top: -160px;
    left: -150px;
  }
}

.clouds-left-1 {
  bottom: 173px;
  left: -239px;

}

.clouds-right-1 {
  bottom: 0;
  right: 0;

  .icon-cloud-2 {
    left: -250px;
  }

  .icon-cloud-3 {
    top: -200px;
  }

}


.stars-list-left-1 {
  top: 110px;
  left: -100px;


  .icon-star-2 {

  }

  .icon-star-4 {
    left: -130px;
    top: 100px;
  }

  .icon-star-1 {
    bottom: -320px;
  }
}

.stars-list-right-1 {
  top: 100px;
  right: -100px;

  .icon-star-0-2 {
    left: -125px;
  }

  .icon-star-3 {
    top: 135px;
  }

  @media #{$media-tablet-portrait} {
    top: 400px;
    right: 150px;
  }
}

.candy-list-left-1 {
  bottom: 210px;
  left: -100px;


  .icon-candy-2 {

    left: -200px;
    bottom: -200px;
  }

  .icon-candy-4 {
    left: -130px;
    top: 100px;
  }

  .icon-star-1 {
    bottom: -320px;
  }
}

.candy-list-right-1 {
  bottom: 275px;
  right: 100px;

  .icon-candy-3 {
    top: 135px;
  }

  @media #{$media-tablet-portrait} {
    right: 150px;
  }
}

.cloud-list-left-1 {
  bottom: 210px;
  left: -100px;

  .icon-cloud-3 {
    top: 135px;
  }

}

.cloud-list-right-1 {
  bottom: 275px;
  right: 100px;

  .icon-cloud-2 {
    left: -200px;
    bottom: -200px;
  }
  .icon-cloud-1 {
    bottom: -320px;
  }

}

