footer {
    background-color: #fff;
    position: relative;
    .container {
        height: 200px;
        padding: 40px 0;

        @media #{$media-tablet-landscape} {
            height: auto;
            padding-bottom: 0px;
        }
        .location,
        .feedback,
        .socialmedia {

            @media #{$media-tablet-landscape} {
                padding-top: 0px;
            }
            @media screen and (max-width: 767px) {}
            padding-top: 12px;
            float: left;
            position: relative;
            height: 100%;
            .title {
                font-size: 21px;
                font-family: $introscript;
                color: #98bbc2;

                @media #{$media-tablet-landscape} {
                    font-size: 20px;
                }
            }
            .line {
                font-size: 13.5px;
                font-family: $droidsans;
                color: #969696;

                @media #{$media-tablet-landscape} {
                    font-size: 11px;
                }
            }
        }
        .location {
            width: 43.6%;
            border-right: 1px dotted #6cc9d2;
            padding-left: 160px;
            .footer-weblogo {
              display: block;
              position: absolute;
              left: 0;
              top: 0;

                a {
                  display: block;
                }

                img {
                  display: inline-block;
                  width: 130px;
                  height: 105px;

                  @media #{$media-tablet-landscape} {
                      height: auto;
                      width: 70px;
                  }
                }

                @media #{$media-tablet-landscape} {
                  left: 20px;
                }
            }

            @media #{$media-tablet-landscape} {
              width: 55%;
              padding-left: 118px;
            }

            @media #{$media-android-tablet-portrait} {
              width: 100%;
              padding: 0;

              .footer-weblogo {
                width: 100%;
                text-align: center;
                position: relative;
                left: 0;
                margin-bottom: 15px;
              }

              .line, .title {
                max-width: 267px;
                margin: 0 auto;
              }
            }
        }
        .feedback {
            width: 40%;
            border-right: 1px dotted #6cc9d2;
            padding-left: 50px;
            padding-right: 50px;

            .description {
              font-size: 13px;
              margin-bottom: 10px;
            }

            @media #{$media-tablet-landscape} {
                width: 45%;
                padding-left: 22px;
                padding-right: 15px;
            }

            @media #{$media-android-tablet-portrait} {
              width: 100%;
              text-align: center;
              margin-top: 30px;
            }

            @media #{$media-phone} {
              display: none;
            }
        }
        .socialmedia {

          @media #{$media-tablet-landscape} {
            padding: 0 0 20px 0;
          }


          @media #{$media-android-tablet-portrait} {
            padding: 0 0 10px;
          }

          .title {
              margin-bottom: 15px;

              @media #{$media-tablet-landscape} {
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px 0 0;
              }
          }
          width: 16.4%;
          padding-left: 30px;
          ul {
              padding: 0;
              @media #{$media-tablet-landscape} {
                display: inline-block;
                vertical-align: middle;
              }
          }
          ul li {
              display: inline-block;
              float: left;
              margin: 0 7px;

              @media #{$media-tablet-landscape} {
                  float: none;
              }
              @media screen and (max-width: 767px) {}
          }
          ul li:first-child {
              margin-left: 0;
          }
          ul li a {
              color: #fdf4d9;
              display: inline-block;
              height: 32px;
              width: 32px;
              line-height: 32px;
              vertical-align: middle;
              border-radius: 100%;
              background-color: #00a2b1;
              position: relative;
              box-shadow: 0px 3px 5px #d8d8d8;
              text-align: center;
              vertical-align: middle;

              i {
                line-height: 32px;
              }
          }

          @media #{$media-tablet-landscape} {
              width: 100%;
              padding-left: 0;
              text-align: center;
          }

          @media #{$media-android-tablet-portrait} {
            margin: 15px 0 20px;

            .title {
              display: none;
            }
          }


        }
    }
    .block-footer {
        // height: 44px;
        background: #ffdada url(../img/footer-bottom.png) center top no-repeat;
        width: 100%;
        text-align: center;
        color: #e59c89;
        padding: 15px 0;
        font-family: $droidsans;
        font-size: 12px;

        @media screen and (max-width: 1024px) {
            border-top: 3px solid #ffdada;
        }
        @media #{$media-tablet-landscape} {}
    }
    &:before {
        content: '';
        position: absolute;
        top: -11px;
        left: 0;
        width: 100%;
        background: transparent url(../img/footer-top-design.png) center no-repeat;
        opacity: 0.9;
        background-size: cover;
        height: 11px;
        z-index: 1;
    }
}


/* typeform modification */

.type-form-btn {
    display: inline-block;
    background-color: #fdf4d9;
    color: #bb8a6d;
    width: 30px;
    margin: 0 5px;
    height: 28px;
    padding: 6px 0px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    margin-top: 0;

    &.send-active {
      padding: 6px 10px;
      width: auto;
    }

    @media #{$media-tablet-landscape} {
        margin-top: 0;
    }
}

#typeform-footer {
    display: inline-block;
    width: 100%;
    max-width: 215px;
    vertical-align: top;

  @media #{$media-tablet-landscape} {
    max-width: 195px;
  }
}

.type-form ul li.item label {
    font-weight: normal !important;
}

.type-form ul li.item input[type=text],
.type-form ul li.item textarea {
    width: 95% !important;
    background-color: #e4bbba !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 0 !important;
    outline: 0 !important;
    font-family: $droidsans !important;
    // font-weight: bold !important;
    font-size: 14px !important;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;
      font-size: 13px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
      font-size: 13px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;
      font-size: 13px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;
      font-size: 13px;
    }

}

.type-form ul li.item .error {
    color: #fff !important;
    font-family: $droidsans !important;
    font-weight: bold !important;
    font-size: 10px !important;
    width: 95% !important;
}

.type-form ul li.item.active {
    padding-top: 10px !important;
    width: 100%;
}
