header#main {
    width: 100%;
    height: 52px;
    background-color: #fff;
    margin: 0;
    top: 60px;
    position: fixed;
    // position: relative;
    z-index: 10;

    @media screen and (max-width: 1024px) {}
    @media #{$media-tablet-landscape} {
        height: 48px;
    }
    @media screen and (max-width: 767px) {}
    // border: 1px solid red;
    &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 100%;
        height: 3px;
        background: transparent url(../img/dottedlinear.png) center;
    }
    .container {
      padding-left: 232px;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 1022px) {}
        @media #{$media-tablet-landscape} {
            height: 48px;
        }
        @media screen and (max-width: 767px) {}
    }
    .burger {
        display: none;
        font-size: 20px;
        text-align: center;
        width: 50px;
        height: 48px;
        position: relative;
        color: #f5866c;
        background-color: #ffdbda;
        padding: 12px 0;

        &.active {
          color: #fff;
          background-color: #f5866c;
          &:before {
              border: 1px dashed #fff;
          }
        }

        &:before {
            content: '';
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
            border: 1px dashed #f5866c;
        }
        i {
            /* display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 100%; */
        }
        @media screen and (max-width: 1024px) {}
        @media #{$media-tablet-landscape} {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 65px;
        }

        @media #{$media-phone} {
          right: 20px;
        }

        @media #{$media-android-tablet-portrait} {
            transform: none;
            top: 0;
        }
    }
    .weblogo {
        position: absolute;
        top: 0%;
        transform: translateY(-30%);
        left: 0;
        display: inline-block;

        @media screen and (max-width: 1024px) {}
        @media #{$media-tablet-landscape} {
            height: 127px;
            width: 201px;
            background-size: contain;
            left: 29px;
        }

        @media #{$media-phone} {
          max-width: 125px;
          height: auto;
          top: 10px;
          left: 20px;
        }
    }
    .main-nav.active {
        display: block;
    }
    .main-nav {
        margin: 0;
        padding: 0;
        padding-left: 5px;
        &:before {
            @media #{$media-tablet-landscape} {
                position: absolute;
                top: -22px;
                right: 5%;
                content: '';
                width: 0;
                height: 0;
                border-left: 17px solid transparent;
                border-right: 17px solid transparent;
                border-bottom: 25px solid #fff;
            }
        }
        @media screen and (max-width: 1024px) {}
        @media #{$media-tablet-landscape} {
            display: none;
            max-width: 406px;
            width: 100%;
            position: absolute;
            top: 80px;
            right: 55px;
            padding: 15px 0;
            // padding-top: 15px;
            background-color: #fff;
            // border-top-right-radius: 10px;
            // border-top-left-radius: 10px;
            // border-bottom-right-radius: 10px;
            // border-bottom-left-radius: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
        }

        @media #{$media-phone} {
          right: 15px;
          max-width: 300px;
        }

        li {
            position: relative;
            display: inline-block;
            //padding-left: 22px;
            //padding-right: 22px;
            @media screen and (max-width: 1024px) {}
            @media #{$media-tablet-landscape} {
                display: block;
                background-color: #fff;
            }
            .lblwrap {
                @media screen and (max-width: 1024px) {}
                @media #{$media-tablet-landscape} {
                    padding-left: 22px;
                }
                @media screen and (max-width: 767px) {}
            }
            @media screen and (max-width: 767px) {}
            a {
                // border:1px solid red;
                line-height: 15px;
                font-size: 15px;
                display: inline-block;
                padding: 20px 19px 17px;
                color: $navColor;
                position: relative;
                &:hover,
                &:focus,
                &:active,
                &:visited {
                    color: $navColor;
                    text-decoration: none;
                }
                @media screen and (max-width: 1024px) {}
                @media #{$media-tablet-landscape} {
                    width: 90%;
                    border-top: thin dashed #00a1b1;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 22px;
                    line-height: 22px;
                    display: block;
                    margin: 0 auto;
                }
                @media screen and (max-width: 767px) {}
            }
            .arrowdown {
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
                height: 16px;
                width: 16px;
                background: transparent url(../img/arrowdown.png) center no-repeat;
            }
        }
        li.active {
            @media screen and (max-width: 1024px) {}
            @media #{$media-tablet-landscape} {
                background-color: #00a1b1;
                a {
                    color: #fff;
                }
            }
            @media screen and (max-width:767px) {}
        }
        /*force alter*/
        li:nth-child(1) a {
            @media #{$media-tablet-landscape} {
                border-top: 0px;
            }
        }
        li:last-child {
            @media #{$media-tablet-landscape} {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        li:first-child {
            @media #{$media-tablet-landscape} {
                // border-top-right-radius: 10px;
                // border-top-left-radius: 10px;
            }
        }
        li.searchwrap {
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            @media #{$media-tablet-landscape} {
              display: none;
              position: relative;
              right: initial;
              top: initial;
              padding-left: 0px;
              padding-right: 0px;
            }
            @media screen and (max-width: 767px) {}
            .btn-search {
                position: absolute;
                top: 50%;
                right: 0;
                height: 40px;
                width: 40px;
                background-color: $searchColor;
                border-radius: 100%;
                color: #fff;
                font-size: 15px;
                transform: translateY(-50%);
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                @media screen and (max-width: 1024px) {}
                @media #{$media-tablet-landscape} {
                    position: relative;
                    display: none;
                    top: initial;
                    right: initial;
                }
                @media screen and (max-width: 767px) {}
            }
            .form-item {
                position: absolute;
                //top margin + header height;
                top: 18px + 60px;
                right: -30px;
                width: 305px;
                height: 46px;
                background-color: $lightpink;
                border-radius: 10px;
                padding: 4px 0;
                z-index: 1px;
                box-shadow: 0px 4px 0px #ee9f8c;
                /* dynamic */
                display: none;
                @media screen and (max-width: 1024px) {}
                @media #{$media-tablet-landscape} {
                    display: block;
                    position: relative;
                    top: initial;
                    right: initial;
                    width: 100%;
                    padding: 5px 22px;
                    background-color: #f5866c;
                    border-radius: 0;
                    box-shadow: none;
                    height: auto;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                @media screen and (max-width: 767px) {}
                .desktop-lbl {
                    display: inline-block;
                    width: 65px;
                    font-size: 11px;
                    padding: 10px 0;
                    padding-left: 14px;
                    color: #dd9391;
                    font-family: $linottesemibold;
                    @media screen and (max-width: 1024px) {}
                    @media #{$media-tablet-landscape} {
                        display: none;
                    }
                    @media screen and (max-width: 767px) {}
                }
                input[type="text"] {
                    height: 38px;
                    width: 232px;
                    border: thin solid #fccdcc;
                    border-radius: 10px;
                    padding: 0 10px;
                    outline: none;


                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                      font-style: italic;
                      color: #d1d1d1;
                      font-weight: normal;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                      font-style: italic;
                      color: #d1d1d1;
                      font-weight: normal;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                      font-style: italic;
                      color: #d1d1d1;
                      font-weight: normal;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                      font-style: italic;
                      color: #d1d1d1;
                      font-weight: normal;
                    }

                    @media screen and (max-width: 1024px) {}
                    @media #{$media-tablet-landscape} {
                        width: 85%;
                        border-radius: 5px;
                        float: left;
                        background-color: #cf4625;
                        color: #f1d1b0;
                        border: thin solid transparent;
                    }
                    @media screen and (max-width: 767px) {}
                }
                button[type="submit"] {
                    display: none;
                    position: relative;
                    border: 0;
                    color: #fff;
                    outline: none;
                    font-size: 15px;
                    text-align: right;
                    @media screen and (max-width: 1024px) {}
                    @media #{$media-tablet-landscape} {
                        display: inline-block;
                        width: 15%;
                        float: left;
                        padding: 10px 0 2px;
                        background-color: #f5866c;
                    }
                    @media screen and (max-width: 767px) {}
                }
                &:before {
                    position: absolute;
                    top: -22px;
                    right: 10%;
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 17px solid transparent;
                    border-right: 17px solid transparent;
                    border-bottom: 25px solid $lightpink;
                    @media screen and (max-width: 1024px) {}
                    @media #{$media-tablet-landscape} {
                        content: none;
                    }
                    @media screen and (max-width: 767px) {}
                }
            }
            .form-item.active {
                display: block;
            }
            //end of seacrh wrap
        }

        .search-pop-trigger {
          display: none;
          outline: none;

          @media #{$media-tablet-landscape} {
            display: block;
          }

          &.active {
            .fa {
              color: $theme-light-yellow;
            }
          }


          .fa {
            display: block;
            float: right;
            color: #62717a;
          }


        }

    }
}

.droplet,
.bear,
.rattle,
.duck {
    display: none;
    width: 24px;
    height: 29px;
    position: absolute;
    top: 25%;
    right: 0%;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 1024px) {}
    @media #{$media-tablet-landscape} {
        display: inline-block;
    }
    @media screen and (max-width:767px) {}
}

.droplet {
    background-image: url(../img/droplet-normal.png);
}

.droplet.active {
    background-image: url(../img/droplet-hover.png);
}

.bear {
    background-image: url(../img/bear-normal.png);
}

.bear.active {
    background-image: url(../img/bear-hover.png);
}

.rattle {
    background-image: url(../img/rattle-normal.png);
}

.rattle.active {
    background-image: url(../img/rattle-hover.png);
}

.duck {
    background-image: url(../img/duck-normal.png);
}

.duck.active {
    background-image: url(../img/duck-hover.png);
}

.nav-inner {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    display: none;

    top: 100%;
    padding-top: 30px;
    background: transparent;


    @media #{$media-tablet-landscape} {
        position: relative;
        top: initial;
        left: initial;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }

}

.nav-inner.active {
    display: block;
}


.nav-inner-box {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
  /*dynamic*/
  width: 100%;
  &:before {
      position: absolute;
      top: 6px;
      right: 10px;
      content: '';
      width: 0;
      height: 0;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 25px solid #fff;
      @media screen and (max-width: 1024px) {}
      @media #{$media-tablet-landscape} {
          content: none;
      }
      @media screen and (max-width: 767px) {}
  }
  a.submenu {
      width: 100%;
      display: block;
      padding: 5px 15px !important;
      background-color: #fffcdf;
      margin-bottom: 4px;
      color: $innerNavColor !important;
      border-top: transparent !important;
      width: 100% !important;

      @media #{$media-tablet-landscape} {
        border-bottom: 5px solid #fff;
        padding: 10px 15px !important;
      }
  }
  a.submenu:last-child {
      margin-bottom: 0;

      @media #{$media-tablet-landscape} {
        border-bottom: 0;
      }
  }

  @media #{$media-tablet-landscape} {
    border-radius: 0px;
    box-shadow: none;
    padding: 5px 0;
  }
}


