section#splash {
    position: relative;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-image: url(../img/masthead.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    @media #{$media-tablet-portrait} {
        background-image: url(../img/masthead-tablet.jpg);
    }
    @media #{$media-phone} {
        background-image: url(../img/masthead-mobile.jpg);
    }
}

#fullpage-carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    .item {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#fullpage-carousel,
.item,
.owl-item,
.owl-wrapper,
.owl-wrapper-outer,
section#splash {
    height: 100%;
}

section#splash .owl-theme .owl-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    bottom: 12%;

    @media #{$media-phone} {
      bottom: 20%;
    }
}

section#splash .owl-theme .owl-controls .owl-page span {
    border: 1px solid #f6f0ba;
    background-color: transparent;
}

section#splash .owl-theme .owl-controls .owl-page.active span {
    background-color: #f6f0ba;
}

section#splash .container {
  height: 100%;
}

.asidewrap {
    // border:1px solid red;
    position: relative;
    z-index: 12;
    margin-top: 12%;
    margin-left: -25px;
    @media #{$media-tablet-landscape} {
        margin-left: 0;
    }
    @media #{$media-tablet-portrait} {
        height: 70%;
    }
    @media #{$media-phone} {
      height: 50%;
    }

    .splash-logo {
        display: inline-block;
        @media #{$media-tablet-portrait} {
            max-width: 290px;
            img {
                max-width: 100%;
            }
        }
        @media #{$media-phone} {
            max-width: 142px;
        }
    }
    .caption {
        margin-top: 30px;
        max-width: 362px;
        width: 100%;
        font-size: 18px;
        color: #fff;
        font-family: $droidsans;
        text-align: center;

        @media #{$media-tablet-portrait} {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            position: absolute;
            width: 100%;
            max-width: 100%;
            p {
                display: inline-block;
                max-width: 393px;
            }
        }
        @media #{$media-phone} {
            font-size: 14px;
            p {
                display: inline-block;
                padding: 0 15px;
                max-width: 100%;
            }
        }
    }
}

.scrolldownwrap {
    display: block;
    font-size: 18px;
    font-family: $introscript;
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: #f6f0ba;
    &:hover,
    &:visited,
    &:focus,
    &:active {
        color: #f6f0ba;
        text-decoration: none;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    @media #{$media-tablet-landscape} {
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
    @media #{$media-phone} {
        bottom: 10px;
    }
}

.scrolldown-arrow {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(../img/scrollDown.png);
}
